.home-main-content {
  background-color: #fff;
  .banner {
    .slick-slider {
      width: 100%;
      margin: 0 auto;
      svg {
        color: #fff;
        font-size: 80px;
        opacity: 0.5;
      }
      .slick-next {
        left: 95%;
        z-index: 999;
      }
      .slick-prev {
        left: 0.5%;
        color: #fff;
        z-index: 999;
      }
      .slick-list {
        height: 37vw;
        .slick-track {
          height: 100%;
          .slider-content {
            height: 37vw;
            img {
              width: 100%;
              height: auto;
              position: relative;
            }
            .slider-main-content {
              margin-left: 10vw;
              margin-top: 9vw;
              position: absolute;
              color: #fff;
              top: 0;
              width: 33vw;
              h1 {
                font-size: 2vw;
                font-family: "Avenir Black", Arial, sans-serif;
                color: #fff;
                text-shadow: #333 1px 2px;
              }
              p.sub-title-header {
                color: #333;
                font-weight: 600;
                font-size: 1.5vw;
                font-family: "Avenir Heavy", Arial, sans-serif;
                color: #fff;
                text-shadow: #333 1px 2px;
              }
              a {
                background-color: #64001e;
                color: #fff;
                text-decoration: none;
                padding: 14px;
                font-size: 15px;
                display: inline-block;
                opacity: 0.9;
                box-shadow: #333;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 3px 1px -2px rgba(0, 0, 0, 0.12),
                  0 1px 5px 0 rgba(0, 0, 0, 0.2);
              }
              a.visit-link {
                background-color: transparent;
                padding: 0;
                box-shadow: none;
                box-shadow: transparent;
              }
              span.contact-title {
                color: #64001e;
                text-shadow: #fff 1px 2px;
              }
            }
          }
        }
      }
      .slick-dots {
        bottom: 25px;
        margin-left: -27vw;
        li {
          width: 30px;
          height: 30px;
          button:before {
            font-size: 20px;
            color: #64001e;
          }
        }
      }
    }
  }

  .rankings {
    border-top: 1px solid #64001e;
    padding: 40px 0 55px 0;
    h1.title {
      padding-bottom: 1vw;
      margin: 0;
      font-size: 35px;
      border-bottom: 2px solid #64001e;
      color: #333;
      letter-spacing: 1px;
    }
    p {
      font-size: 18px;
      color: #333;
      margin-bottom: 60px;
      font-family: "Avenir Medium", Arial, sans-serif;
    }
    .rankings-data {
      display: flex;
      flex-direction: row;
      .row-data {
        width: 30%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 0 3.3333%;
        img {
          width: 100%;
        }
        .ranks {
          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            color: #64001e;
          }
          span.actual-rank {
            font-size: 4vw;
            font-weight: 600;
          }
          span.sub-rank {
            font-weight: 600;
            font-size: 1.5vw;
          }
          span.sub-data {
            font-weight: 600;
            font-size: 1vw;
            text-align: center;
          }
        }
      }
    }
  }

  .ourstudents {
    // background-color: #898d8deb;
    background-color: #fff;
    border-top: 1px solid #64001e;
    padding: 40px 0 55px 0;
    h1.title {
      padding-bottom: 1vw;
      margin: 0;
      font-size: 35px;
      border-bottom: 2px solid #90193b;
      color: #333;
      letter-spacing: 1px;
      font-family: "Avenir Heavy", Arial, sans-serif;
    }
    p {
      font-size: 20px;
      color: #333;
      margin-bottom: 60px;
      font-family: "Avenir Medium", Arial, sans-serif;
    }
    a {
      background-color: #64001e;
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      font-size: 15px;
      padding: 20px;
      width: 20%;
      margin: 20px auto 0;
      text-align: center;
      display: block;
    }
    .ourstudents-data {
      display: flex;
      flex-direction: row;
      width: 100%;

      .content {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        width: 100%;
        margin-bottom: 40px;
        h2 {
          margin-block-start: 0;
          margin-block-end: 0;
        }
        span.intake {
          padding: 0;
          margin: 0;
          width: 25%;
          color: #333;
          font-family: "Avenir Heavy", Arial, sans-serif;
          font-size: 20px;
        }
        .middle {
          width: 40%;
          margin-right: 5%;
          .header {
            display: flex;
            flex-direction: column;
            h2 {
              // font-style: italic;
              color: #333;
              font-size: 50px;
            }
            p.sub-text {
              font-size: 25px;
              margin: 0;
              padding: 0;
              font-weight: 800;
            }
          }
          p {
            font-family: "Avenir Medium", Arial, sans-serif;
            color: #333;
            font-size: 20px;
          }
        }
        .last {
          width: 40%;
          .header {
            display: flex;
            flex-direction: column;
            h2 {
              // font-style: italic;
              color: #333;
              font-size: 50px;
            }
            p.sub-text {
              font-size: 25px;
              margin: 0;
              padding: 0;
              font-weight: 800;
            }
            p {
              font-family: "Avenir Medium", Arial, sans-serif;
              color: #333;
              font-size: 20px;
            }
          }
          span {
            font-family: "Avenir Medium", Arial, sans-serif;
            color: #333;
            font-size: 20px;
          }
        }
      }
    }
  }

  .eventsandtestimonials {
    background-color: #fff;
    border-top: 1px solid #64001e;
    color: #fff;
    .content {
      display: flex;
      flex-direction: row;
      height: 720px;
      .events {
        padding-top: 10px;
        width: 55%;
        margin-right: 5%;
        h1.title {
          padding-bottom: 1vw;
          margin-bottom: 10px;
          font-size: 35px;
          border-bottom: 2px solid #64001e;
          color: #333;
          letter-spacing: 1px;
        }
        a {
          background-color: #64001e;
          color: #fff;
          text-decoration: none;
          font-weight: 600;
          font-size: 15px;
          margin-top: 20px;
          display: inline-block;
          padding: 10px 20px;
        }
        p.sub {
          color: #333;
          font-size: 15px;
          font-family: "Avenir Medium", Arial, sans-serif;
        }
        .events-data {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .events-details {
            margin: 10px 0 10px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            .left {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 120px;
              height: 100%;
              border: 1px solid #d3d3d3;
              .day {
                color: #fff;
                background-color: #64001e;
                font-size: 30px;
                width: 110px;
                text-align: center;
                padding: 10px 5px 10px 5px;
                font-weight: 600;
              }
              .month {
                color: #64001e;
                background-color: #fff;
                font-size: 20px;
                width: 100%;
                text-align: center;
                padding-top: 10px;
                font-weight: 600;
              }
              .year {
                color: #64001e;
                background-color: #fff;
                font-size: 20px;
                width: 100%;
                text-align: center;
                font-weight: 600;
              }
            }
            .right {
              width: 420px;
              height: 120px;
              background-color: #fff;
              padding-left: 15px;
              display: flex;
              justify-content: center;
              flex-direction: column;
              p {
                margin: 0;
              }
              .event-title {
                color: #64001e;
                font-weight: 600;
                margin: 10px;
                font-size: 20px;
                margin: 0;
                margin-bottom: 10px;
              }
              .time {
                color: #333;
                font-size: 14px;
                span {
                  font-weight: 600;
                }
              }
              .location {
                font-size: 14px;
                color: #333;
                span {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
      .testimonials {
        background-color: #64001e;
        width: 40%;
        .slick-slider {
          width: 100%;
          margin: 0 auto;
          .slick-prev {
            display: none !important;
          }
          .slick-next {
            display: none !important;
          }
          .slick-list {
            height: 720px;
            .slick-track {
              height: 100%;
              .testimonials-content {
                text-align: center;
                height: 720px;
                img {
                  width: 100%;
                  height: 300px;
                  object-fit: cover;
                }
                h2.name {
                  margin: 0;
                  padding: 15px 10px 10px 10px;
                }
                p.desc {
                  margin: 0;
                  font-size: 12px;
                  font-style: italic;
                  font-family: "Times New Roman", sans-serif;
                }
                blockquote {
                  font-size: 20px;
                  text-align: center;
                  font-family: "Times New Roman", sans-serif;
                  padding: 30px 0 20px;
                  border: none;
                  position: relative;
                  font-style: italic;
                  quotes: "\201C" "\201D" "\2018" "\2019";
                }
                blockquote:before {
                  top: 0;
                  left: -10px;
                  font-size: 60px;
                  content: open-quote;
                  position: absolute;

                }
                blockquote:after {
                  bottom: -45px;
                  right: -15px;
                  font-size: 60px;
                  content: close-quote;
                  position: absolute;
                }
                a {
                  color: #64001e;
                  background-color: #fff;
                  text-decoration: none;
                  padding: 10px 15px;
                  font-size: 12px;
                  font-weight: 600;
                }
              }
            }
          }
          .slick-dots {
            bottom: 20px;
            // margin-left: -27vw;
            li {
              width: 30px;
              height: 30px;
              button:before {
                font-size: 20px;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  .mastersandphd {
    border-top: 1px solid #64001e;
    padding: 40px 0 55px 0;
    h1.title {
      padding-bottom: 1vw;
      margin: 0;
      font-size: 35px;
      border-bottom: 2px solid #64001e;
      color: #333;
      letter-spacing: 1px;
    }
    p {
      font-size: 18px;
      color: #333;
      margin-bottom: 60px;
      font-family: "Avenir Medium", Arial, sans-serif;
    }

    .accordion-wrapper {
      width: 1200px;
      position: relative;
      overflow: hidden;
      height: 600px;
      margin: 0 auto;

      .phd-header {
        width: 50px;
        float: left;
        background: #252f48;
        height: 100%;
        cursor: pointer;
        padding: 10px 0;
        h2 {
          transform: rotate(90deg);
          color: #fff;
          letter-spacing: 1px;
        }
      }

      .phd-body {
        background: cadetblue;
        width: 0;
        height: 100%;
        float: left;
        transition: width 0.2s linear;
        overflow: hidden;
        &.active {
          width: calc(100% - 200px);
        }
        .body-content {
          border: 1px solid;
          height: 100%;
          width: 100%;
          background-color: #252f48;
          img {
            width: 100%;
            height: 100%;
            opacity: 0.4;
          }
          .phd-data {
            position: absolute;
            top: 0;
            width: calc(100% - 200px);
            .phd-data-content {
              width: calc(100% - 100px);
              text-align: center;
              margin: 30px auto;
              .intro {
                margin-bottom: 30px;
                h2 {
                  letter-spacing: 1px;
                  color: #fff;
                  font-weight: 600;
                  margin-block-start: 0;
                  margin-block-end: 0;
                  font-size: 30px;
                }
                p.sub {
                  font-style: 20px;
                  margin: 10px;
                  font-weight: 600;
                }
              }
              .box {
                display: flex;
                flex-direction: column;
                a {
                  background-color: #333;
                  width: 20%;
                  margin: 20px auto;
                  color: #fff;
                  text-decoration: none;
                  font-weight: 600;
                  padding: 10px;
                  font-size: 15px;
                }
                .box-data-group {
                  display: flex;
                  flex-direction: row;
                  .box-data {
                    width: 49%;
                    padding: 10px;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    position: relative;
                    height: auto;
                    span.title {
                      color: #fff;
                      position: relative;
                      font-size: 18px;
                      letter-spacing: 1px;
                      padding: 10px;
                      display: inline-block;
                    }
                    p.desc {
                      position: relative;
                      font-size: 15px;
                      font-family: "Avenir Medium", Arial, sans-serif;
                      a {
                        background-color: transparent;
                        width: 20%;
                        margin: 20px auto;
                        color: #fff;
                        text-decoration: underline;
                        font-weight: 600;
                        padding: 10px;
                        font-size: 15px;
                      }
                    }
                  }
                  .box-data::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    -webkit-opacity: 0.6;
                    -moz-opacity: 0.6;
                    opacity: 0.6;
                    background-color: #333;
                  }
                }
              }
              p {
                color: #fff;
                margin: 0;
                font-size: 15px;
              }
            }
          }
        }
      }

      .bs-header {
        width: 50px;
        float: left;
        background: #64001e;
        height: 100%;
        cursor: pointer;
        padding: 10px 0;
        h2 {
          transform: rotate(90deg);
          color: #fff;
          letter-spacing: 1px;
        }
      }

      .bs-body {
        background: #64001e;
        width: 0;
        height: 100%;
        float: left;
        transition: width 0.2s linear;
        overflow: hidden;
        &.active {
          width: calc(100% - 200px);
        }
        .body-content {
          border: 1px solid;
          height: 100%;
          width: 100%;
          background-color: #350010;
          img {
            width: 100%;
            height: 100%;
            opacity: 0.4;
          }
          .bs-data {
            position: absolute;
            top: 0;
            width: calc(100% - 200px);
            .bs-data-content {
              width: calc(100% - 100px);
              text-align: center;
              margin: 30px auto;
              .intro {
                margin-bottom: 30px;
                h2 {
                  letter-spacing: 1px;
                  color: #fff;
                  font-weight: 600;
                  margin-block-start: 0;
                  margin-block-end: 0;
                  font-size: 30px;
                }
                p.sub {
                  font-style: 20px;
                  margin: 10px;
                  font-weight: 600;
                  font-family: "Avenir Medium", Arial, sans-serif;
                }
              }
              p {
                color: #fff;
                margin: 0;
                font-size: 15px;
              }
              .box {
                display: flex;
                flex-direction: column;
                a {
                  background-color: #64001eb5;
                  width: 20%;
                  margin: 20px auto;
                  color: #fff;
                  text-decoration: none;
                  font-weight: 600;
                  padding: 10px;
                  font-size: 15px;
                }
                .box-data-group {
                  display: flex;
                  flex-direction: row;
                  .box-data {
                    width: 49%;
                    padding: 10px;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    position: relative;
                    height: auto;
                    span.title {
                      color: #fff;
                      position: relative;
                      font-size: 18px;
                      letter-spacing: 1px;
                      padding: 10px;
                      display: inline-block;
                    }
                    p.desc {
                      position: relative;
                      font-size: 15px;
                      a {
                        background-color: transparent;
                        width: 20%;
                        margin: 20px auto;
                        color: #fff;
                        text-decoration: underline;
                        font-weight: 600;
                        padding: 10px;
                        font-size: 15px;
                      }
                    }
                  }
                  .box-data::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    -webkit-opacity: 0.6;
                    -moz-opacity: 0.6;
                    opacity: 0.6;
                    background-color: #64001e87;
                  }
                }
              }
              
            }
          }
        }
      }

      .masters-header {
        width: 50px;
        float: left;
        background: #90193b;
        height: 100%;
        cursor: pointer;
        padding: 10px 0;
        h2 {
          transform: rotate(90deg);
          color: #fff;
          letter-spacing: 1px;
        }
      }

      .masters-body {
        background: #751833;
        width: 0;
        height: 100%;
        float: left;
        transition: width 0.2s linear;
        overflow: hidden;
        &.active {
          width: calc(100% - 200px);
        }
        .body-content {
          border: 1px solid;
          height: 100%;
          width: 100%;
          background-color: #751833;
          img {
            width: 100%;
            height: 100%;
            opacity: 0.4;
          }
          .masters-data {
            position: absolute;
            top: 0;
            width: calc(100% - 200px);
            .masters-data-content {
              width: calc(100% - 100px);
              text-align: center;
              margin: 30px auto;
              .intro {
                margin-bottom: 30px;
                h2 {
                  letter-spacing: 1px;
                  color: #fff;
                  font-weight: 600;
                  margin-block-start: 0;
                  margin-block-end: 0;
                  font-size: 30px;
                  text-transform: uppercase;
                }
                p.sub {
                  font-style: 20px;
                  margin: 10px;
                  font-weight: 600;
                  font-family: "Avenir Medium", Arial, sans-serif;
                }
                p.desc {
                  font-size: 15px;
                  margin: 10px;
                }
              }
              .box {
                display: flex;
                flex-direction: column;
                a {
                  background-color: #90193bc9;
                  width: 20%;
                  margin: 10px auto;
                  color: #fff;
                  text-decoration: none;
                  font-weight: 600;
                  padding: 10px;
                  font-size: 15px;
                }
                .box-data-group {
                  display: flex;
                  flex-direction: row;
                  .box-data {
                    width: 49%;
                    padding: 10px;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    position: relative;
                    height: auto;
                    span.title {
                      color: #fff;
                      position: relative;
                      font-size: 18px;
                      letter-spacing: 1px;
                      padding: 10px;
                      display: inline-block;
                    }
                    p.desc {
                      position: relative;
                      font-size: 15px;
                      a {
                        background-color: transparent;
                        width: 20%;
                        margin: 10px auto;
                        color: #fff;
                        text-decoration: underline;
                        font-weight: 600;
                        padding: 10px;
                        font-size: 15px;
                      }
                    }
                  }
                  .box-data::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    -webkit-opacity: 0.6;
                    -moz-opacity: 0.6;
                    opacity: 0.6;
                    background-color: #6f0f2a;
                  }
                }
              }
              p {
                color: #fff;
                margin: 0;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }

  .researchareas {
    background-color: #fff;
    border-top: 1px solid #64001e;
    padding: 40px 0 55px 0;
    h1.title {
      padding-bottom: 1vw;
      margin: 0;
      font-size: 35px;
      border-bottom: 2px solid #64001e;
      color: #333;
      letter-spacing: 1px;
    }
    p {
      font-size: 18px;
      color: #333;
      margin-bottom: 30px;
      font-family: "Avenir Medium", Arial, sans-serif;
    }
    .researchareas-data {
      display: flex;
      flex-direction: column;
      .researchareas-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        .researchareas-data-content {
          display: flex;
          flex-direction: column;
          width: 30%;
          text-align: center;
          margin: 10px;
          img {
            width: 75%;
            height: auto;
            margin: 0 auto;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            border-radius: 100%;
            background-color: #8e1839;
          }

          span.title {
            color: #333;
            font-weight: 600;
            font-size: 15px;
            text-align: center;
            margin: 10px;
          }
        }
      }
      a {
        background-color: #64001e;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
        display: inline-block;
        padding: 20px;
        width: 20%;
        margin: 20px auto 0;
        text-align: center;
      }
    }
  }

  .researchlab {
    background-color: #fff;
    border-top: 1px solid #64001e;
    padding: 35px 0 55px 0;
    h1.title {
      padding-bottom: 1vw;
      margin: 0;
      font-size: 35px;
      border-bottom: 2px solid #64001e;
      color: #333;
      letter-spacing: 1px;
    }
    p {
      font-size: 18px;
      color: #333;
      margin-bottom: 30px;
      font-family: "Avenir Medium", Arial, sans-serif;
    }
    .researchlab-data {
      display: flex;
      flex-direction: column;
      .researchlab-group {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        .researchlab-data-content {
          display: flex;
          flex-direction: column;
          padding: 0 1% 0 1%;
          width: 31%;
          height: 260px;
          text-align: center;
          a{
            text-decoration: none;
            .logo {
              width: 100%;
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
              background-color: #fff;
              margin: 0 auto;
              img {
                max-width: 70%;
                object-fit: contain;
                height: 150px;
                margin: 0 auto;
                padding: 15px;
              }
            }
  
            span.title {
              color: #333;
              font-weight: 600;
              font-size: 15px;
              text-align: center;
              margin: 10px 0 0 0;
              display: block;
            }
          }
        }
      }
      a.readmore{
        background-color: #64001e;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
        display: inline-block;
        padding: 20px;
        width: 20%;
        margin: 20px auto 0;
        text-align: center;
      }
    }
  }

  .publication {
    background-color: #fff;
    border-top: 1px solid #64001e;
    padding: 40px 0 55px 0;
    h1.title {
      padding-bottom: 1vw;
      margin: 0;
      font-size: 35px;
      border-bottom: 2px solid #64001e;
      color: #333;
      letter-spacing: 1px;
    }
    p {
      font-size: 18px;
      color: #333;
      margin-bottom: 30px;
      font-family: "Avenir Medium", Arial, sans-serif;
    }
    .publication-data {
      display: flex;
      flex-direction: column;
      .publication-group {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        a{
          display: flex;
          flex-direction: row;
          text-align: center;
          width: 49%;
          text-decoration: none;
          .publication-data-content {
            box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 260px;
            margin: 10px;
            text-align: center;
            .left {
              width: 45%;
              height: 100%;
              overflow: hidden;
              background-color: #333;
              img {
                position: relative;
                width: 130%;
                background-color: #333;
                z-index: 99;
                opacity: 0.8;
                object-fit: cover;
                height: 100%;
              }
              .left-data {
                position: absolute;
                z-index: 999;
                span.date {
                  color: #fff;
                  font-family: "Avenir Heavy", Arial, sans-serif;
                  font-size: 12px;
                  letter-spacing: 1px;
                  background-color: #64001e91;
                  padding: 5px 10px 5px 10px;
                  margin: 230px 0 0 5px;
                  display: block;
                }
              }
            }
            .right {
              width: 55%;
              height: 100%;
              text-align: left;
              .right-data {
                padding: 10px;
                span.journal {
                  font-size: 15px;
                  background-color: #64001e;
                  padding: 2px 5px 2px 5px;
                  color: #fff;
                  font-family: "Avenir Heavy", Arial, sans-serif;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 1; /* number of lines to show */
                  line-clamp: 1;
                  -webkit-box-orient: vertical;
                  width: fit-content;
                }
                h1.title {
                  font-size: 26px;
                  margin-top: 10px;
                  padding: 0;
                  font-family: "Avenir Black", Arial, sans-serif;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 3; /* number of lines to show */
                  line-clamp: 3;
                  -webkit-box-orient: vertical;
                }
                p.sub-data {
                  font-family: "Avenir Heavy", Arial, sans-serif;
                  font-size: 12px;
                  color: #333;
                  margin: 10px 0 10px 0;
                  // overflow: hidden;
                  // text-overflow: ellipsis;
                  // display: -webkit-box;
                  // -webkit-line-clamp: 2;
                  // line-clamp: 2;
                  // -webkit-box-orient: vertical;
                  p{
                    font-family: "Avenir Heavy", Arial, sans-serif;
                    font-size: 12px;
                  }
                }
                span.authors {
                  font-size: 12px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2; /* number of lines to show */
                  line-clamp: 2;
                  -webkit-box-orient: vertical;
                  color: #333333;
                }
              }
            }
          }
        }
      }
      a.readmore {
        background-color: #64001e;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
        display: inline-block;
        padding: 20px;
        width: 20%;
        margin: 20px auto 0;
        text-align: center;
      }
    }
  }

  .faculty {
    background-color: #fff;
    color: #fff;
    border-top: 1px solid #64001e;
    margin: 0 0 2vw 0;
    .content {
      display: flex;
      flex-direction: row;
      .faculty-data {
        padding-top: 40px;
        margin-left: 0;
        h1.title {
          padding-bottom: 1vw;
          margin-bottom: 10px;
          font-size: 35px;
          border-bottom: 2px solid #64001e;
          color: #333;
          letter-spacing: 1px;
        }
        a {
          // background-color: #64001e;
          color: #333;
          text-decoration: none;
          font-weight: 600;
          font-size: 15px;
          display: inline-block;
          margin-bottom: 5px;
          
        }
        a.readmore{
          background-color: #64001e;
          color: #fff;
          text-decoration: none;
          font-weight: 600;
          font-size: 15px;
          display: inline-block;
          padding: 20px;
          width: 20%;
          margin: 20px auto 0;
          text-align: center;
        }
        p.sub {
          color: #333;
          font-size: 20px;
          font-family: "Avenir Medium", Arial, sans-serif;
        }
        .faculty-data-content {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .faculty-group {
            display: flex;
            flex-flow: row wrap;
            .data {
              text-align: center;
              display: flex;
              flex-direction: column;
              width: 25%;
              img {
                object-fit: cover;
                height: 120px;
                width: 120px;
                border-radius: 50%;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 3px 1px -2px rgba(0, 0, 0, 0.12),
                  0 1px 5px 0 rgba(0, 0, 0, 0.2);
                margin: 10px auto;
              }
              span.name {
                color: #333;
                font-weight: 600;
                font-size: 15px;
                margin-bottom: 5px;
              }
              p.job-title {
                margin: 2px;
                color: #64001e;
                font-size: 13px;
              }
            }
          }
        }
      }
      .testimonials {
        background-color: #64001e;
        width: 40%;
        .slick-slider {
          width: 100%;
          margin: 0 auto;
          .slick-prev {
            display: none !important;
          }
          .slick-next {
            display: none !important;
          }
          .slick-list {
            height: 700px;
            .slick-track {
              height: 100%;
              .testimonials-content {
                text-align: center;
                height: 700px;
                img {
                  width: 100%;
                  height: 300px;
                }
                h2.name {
                  margin: 0;
                  padding: 15px 10px 10px 10px;
                }
                p.desc {
                  margin: 0;
                  font-size: 12px;
                  font-style: italic;
                  font-family: "Times New Roman", sans-serif;
                }
                blockquote {
                  font-size: 20px;
                  text-align: center;
                  font-family: "Times New Roman", sans-serif;
                  padding: 30px 0 20px;
                  border: none;
                  position: relative;
                  font-style: italic;
                  quotes: "\201C" "\201D" "\2018" "\2019";
                }
                blockquote:before {
                  top: 0;
                  left: -10px;
                  font-size: 60px;
                  content: open-quote;
                  position: absolute;
                }
                blockquote:after {
                  bottom: -45px;
                  right: -15px;
                  font-size: 60px;
                  content: close-quote;
                  position: absolute;
                }
                a {
                  color: #64001e;
                  background-color: #fff;
                  text-decoration: none;
                  padding: 10px 15px;
                  font-size: 12px;
                  font-weight: 600;
                }
              }
            }
          }
          .slick-dots {
            bottom: 20px;
            li {
              width: 30px;
              height: 30px;
              button:before {
                font-size: 20px;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

//MOBILE
@media only screen and(max-width: 767px) {
  .home-main-content {
    .banner {
      .slick-slider {
        width: 100%;
        margin: 0 auto;
        svg {
          color: #fff;
          font-size: 80px;
          opacity: 0.5;
        }
        .slick-next {
          // left: 95%;
          // z-index: 999;
          display: none;
        }
        .slick-prev {
          // left: 0.5%;
          // color: #fff;
          // z-index: 999;
          display: none;
        }
        .slick-list {
          height: 37vw;
          .slick-track {
            height: 100%;
            .slider-content {
              height: 37vw;
              img {
                width: 100%;
                height: auto;
                position: relative;
              }
              .slider-main-content {
                margin-left: 3vw;
                margin-top: 4vw;
                position: absolute;
                width: 55vw;
                h1 {
                  font-size: 3vw;
                  margin: 0;
                  color: #fff;
                  text-shadow: #333 1px 2px;
                }
                p.sub-title-header {
                  font-size: 2.2vw;
                  margin: 0vw 0 1vw 0;
                  color: #fff;
                  text-shadow: #333 1px 2px;
                }
                a {
                  padding: 2vw;
                  font-size: 2vw;
                  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 3px 1px -2px rgba(0, 0, 0, 0.12),
                    0 1px 5px 0 rgba(0, 0, 0, 0.2);
                }
              }
            }
          }
        }
        .slick-dots {
          bottom: 25px;
          margin-left: -27vw;
          li {
            width: 30px;
            height: 30px;
            button:before {
              font-size: 20px;
              color: #64001e;
            }
          }
        }
      }
    }

    .rankings {
      padding: 4vw 0 4vw 0;
      h1.title {
        padding-bottom: 1vw;
        margin: 0;
        font-size: 6vw;
      }
      p {
        font-size: 3vw;
        margin-bottom: 4vw;
      }
      .rankings-data {
        display: flex;
        flex-direction: column;
        .row-data {
          width: 100%;
          align-items: center;
          justify-content: center;
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          img {
            width: 100%;
          }
          .ranks {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
              color: #64001e;
            }
            span.actual-rank {
              font-size: 5vw;
            }
            span.sub-rank {
              font-size: 4vw;
            }
            span.sub-data {
              font-size: 3vw;
            }
          }
        }
      }
    }

    .ourstudents {
      padding: 4vw 0 4vw 0;
      h1.title {
        padding-bottom: 1vw;
        margin: 0;
        font-size: 6vw;
      }

      p {
        font-size: 3vw;
        margin-bottom: 4vw;
      }
      a {
        font-size: 3vw;
        padding: 2vw;
        width: 100%;
        margin: 2vw auto 0;
      }
      .ourstudents-data {
        display: flex;
        flex-direction: column;
        width: 100%;

        .content {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: 4vw;
          h2 {
            margin-block-start: 0;
            margin-block-end: 0;
            width: 100%;
          }
          span.intake {
            width: 100%;
            font-size: 3vw;
            font-size: 6vw;
          }
          .middle {
            width: 100%;
            .header {
              display: flex;
              flex-direction: row;
              align-items: center;
              h2 {
                font-size: 6vw;
                width: fit-content;
              }
              p.sub-text {
                font-size: 4vw;
                margin-left: 10px;
              }
            }
            p {
              font-size: 3vw;
            }
          }
          .last {
            width: 100%;
            .header {
              display: flex;
              flex-direction: row;
              align-items: center;
              h2 {
                font-size: 6vw;
                width: fit-content;
              }
              p.sub-text {
                font-size: 4vw;
                margin-left: 10px;
              }
            }
            span {
              font-size: 3vw;
            }
          }
        }
      }
    }

    .eventsandtestimonials {
      .content {
        display: flex;
        flex-direction: column;
        height: auto;
        .events {
          padding-top: 1vw;
          width: 100%;
          margin-right: 5%;
          h1.title {
            padding-bottom: 1vw;
            margin-bottom: 1vw;
            font-size: 6vw;
          }
          a {
            background-color: #64001e;
            color: #fff;
            text-decoration: none;
            font-weight: 600;
            font-size: 3vw;
            margin-top: 2vw;
            padding: 2vw 4vw;
          }
          p.sub {
            color: #333;
            font-size: 3vw;
            font-family: "Avenir Medium", Arial, sans-serif;
          }
          .events-data {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .events-details {
              margin: 1vw 0 1vw 0;
              display: flex;
              flex-direction: row;
              align-items: center;
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12),
                0 1px 5px 0 rgba(0, 0, 0, 0.2);
              .left {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 15vw;
                height: 20vw;
                border: 1px solid #d3d3d3;
                .day {
                  font-size: 5vw;
                  width: 13.5vw;
                  padding: 1vw;
                }
                .month {
                  font-size: 3vw;
                  width: 100%;
                  padding-top: 1vw;
                }
                .year {
                  font-size: 3vw;
                  width: 100%;
                }
              }
              .right {
                width: 60vw;
                height: 20vw;
                background-color: #fff;
                padding-left: 15px;
                p {
                  margin: 0;
                }
                .event-title {
                  margin: 1vw;
                  font-size: 3vw;
                }
                .time {
                  font-size: 2vw;
                  span {
                    font-size: 2vw;
                  }
                }
                .location {
                  font-size: 2vw;
                  color: #333;
                  span {
                    font-size: 2vw;
                  }
                }
              }
            }
          }
        }
        .testimonials {
          margin-top: 4vw;
          width: 100%;
          .slick-slider {
            width: 100%;
            margin: 0 auto;
            .slick-prev {
              display: none !important;
            }
            .slick-next {
              display: none !important;
            }
            .slick-list {
              height: 115vw;
              .slick-track {
                height: 115vw;
                .testimonials-content {
                  text-align: center;
                  height: auto;
                  img {
                    width: 100%;
                    height: auto;
                  }
                  h2.name {
                    margin: 0;
                    padding: 2vw 1vw 1vw 1vw;
                    font-size: 5vw;
                  }
                  p.desc {
                    margin: 0;
                    font-size: 3vw;
                  }
                  blockquote {
                    font-size: 3vw;
                    text-align: center;
                    font-family: "Times New Roman", sans-serif;
                    padding: 3vw 0 2vw;
                    border: none;
                    position: relative;
                    font-style: italic;
                    quotes: "\201C" "\201D" "\2018" "\2019";
                  }
                  blockquote:before {
                    top: 0;
                    left: -3.5vw;
                    font-size: 6vw;
                  }
                  blockquote:after {
                    bottom: -4.5vw;
                    right: -1vw;
                    font-size: 6vw;
                  }
                  a {
                    padding: 2vw 3vw;
                    font-size: 3vw;
                    font-weight: 600;
                  }
                }
              }
            }
            .slick-dots {
              bottom: 20px;
              // margin-left: -27vw;
              li {
                width: 30px;
                height: 30px;
                button:before {
                  font-size: 20px;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }

    .mastersandphd {
      padding: 4vw 0 4vw 0;
      h1.title {
        padding-bottom: 1vw;
        margin: 0;
        font-size: 6vw;
      }
      p {
        font-size: 3vw;
        margin-bottom: 6vw;
      }

      .accordion-wrapper {
        width: 115%;
        height: 160vw;
        margin: 0 auto;

        .phd-header {
          width: 5vw;
          height: 100%;
          padding: 1vw 0;
          h2 {
            font-size: 3vw;
          }
        }

        .phd-body {
          background: cadetblue;
          width: 0;
          height: 100%;
          &.active {
            width: calc(100% - 100px);
          }
          .body-content {
            height: 100%;
            width: 100%;
            img {
              width: 100%;
              height: 100%;
              opacity: 0.4;
            }
            .phd-data {
              position: absolute;
              top: 0;
              width: calc(100% - 100px);
              .phd-data-content {
                width: calc(100% - 100px);
                text-align: center;
                margin: 3vw auto;
                .intro {
                  margin-bottom: 3vw;
                  h2 {
                    font-size: 3vw;
                  }
                  p.sub {
                    font-style: 3vw;
                    margin: 1vw;
                    font-weight: 600;
                  }
                }
                .box {
                  display: flex;
                  flex-direction: column;
                  
                  a {
                    width: 100%;
                    margin: 2vw auto;
                    padding: 1vw;
                    font-size: 3vw;
                  }
                  .box-data-group {
                    display: flex;
                    flex-direction: column;
                    .box-data {
                      width: 100%;
                      height: auto;
                      padding: 2vw;
                      border-right: 6px solid transparent;
                      border-bottom: 6px solid transparent;
                      span.title {
                        font-size: 3vw;
                        padding: 1vw;
                      }
                      p.desc {
                        font-size: 3vw;
                      }
                    }
                    .box-data::before {
                      content: "";
                      position: absolute;
                      top: 0;
                      right: 0;
                      left: 0;
                      bottom: 0;
                      -webkit-opacity: 0.6;
                      -moz-opacity: 0.6;
                      opacity: 0.6;
                      background-color: #333;
                    }
                  }
                }
                p {
                  color: #fff;
                  margin: 0;
                }
              }
            }
          }
        }

        .bs-header {
          width: 5vw;
          height: 100%;
          padding: 1vw 0;
          h2 {
            font-size: 3vw;
          }
        }

        .bs-body {
          background: #64001e;
          width: 0;
          height: 100%;
          &.active {
            width: calc(100% - 150px);
          }
          .body-content {
            height: 100%;
            width: 100%;
            img {
              width: 100%;
              height: 100%;
              opacity: 0.4;
            }
            .bs-data {
              position: absolute;
              top: 0;
              width: calc(100% - 150px);
              .bs-data-content {
                width: calc(100% - 100px);
                margin: 3vw auto;
                .intro {
                  margin-bottom: 3vw;
                  h2 {
                    font-size: 3vw;
                  }
                  p.sub {
                    font-size: 3vw;
                  }
                }
                .box {
                  display: flex;
                  flex-direction: column;
                  a {
                    width: 100%;
                    margin: 2vw auto;
                    color: #fff;
                    padding: 2vw;
                    font-size: 3vw;
                  }
                  .box-data-group {
                    display: flex;
                    flex-direction: column;
                    .box-data {
                      width: 100%;
                      padding: 2vw;
                      height: auto;
                      span.title {
                        font-size: 3vw;
                        padding: 1vw;
                      }
                      p.desc {
                        font-size: 3vw;
                      }
                    }
                    .box-data::before {
                      content: "";
                      position: absolute;
                      top: 0;
                      right: 0;
                      left: 0;
                      bottom: 0;
                      -webkit-opacity: 0.6;
                      -moz-opacity: 0.6;
                      opacity: 0.6;
                      background-color: #64001e87;
                    }
                  }
                }
                p {
                  color: #fff;
                  margin: 0;
                }
              }
            }
          }
        }

        .masters-header {
          width: 5vw;
          height: 100%;
          padding: 1vw 0;
          h2 {
            font-size: 3vw;
          }
        }

        .masters-body {
          width: 0;
          height: 100%;
          float: left;
          &.active {
            width: calc(100% - 150px);
          }
          .body-content {
            height: 100%;
            width: 100%;
            img {
              width: 100%;
              height: 100%;
              opacity: 0.4;
            }
            .masters-data {
              width: calc(100% - 150px);
              .masters-data-content {
                width: calc(100% - 100px);
                margin: 3vw auto;
                .intro {
                  margin-bottom: 3vw;
                  h2 {
                    font-size: 3vw;
                  }
                  p.sub {
                    font-style: 3vw;
                    margin: 1vw;
                  }
                  p.desc {
                    font-size: 3vw;
                    margin: 1vw;
                  }
                }
                .box {
                  display: flex;
                  flex-direction: column;
                  a {
                    width: 100%;
                    margin: 2vw auto;
                    padding: 1vw;
                    font-size: 3vw;
                  }
                  .box-data-group {
                    display: flex;
                    flex-direction: column;
                    .box-data {
                      width: 100%;
                      padding: 2vw;
                      height: auto;
                      span.title {
                        font-size: 3vw;
                        padding: 1vw;
                      }
                      p.desc {
                        font-size: 3vw;
                      }
                    }
                    .box-data::before {
                      content: "";
                      position: absolute;
                      top: 0;
                      right: 0;
                      left: 0;
                      bottom: 0;
                      -webkit-opacity: 0.6;
                      -moz-opacity: 0.6;
                      opacity: 0.6;
                      background-color: #6f0f2a;
                    }
                  }
                }
                p {
                  color: #fff;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }

    .researchareas {
      padding: 4vw 0 4vw 0;
      h1.title {
        padding-bottom: 1vw;
        margin: 0;
        font-size: 6vw;
      }
      p {
        font-size: 3vw;
        margin-bottom: 3vw;
      }
      .researchareas-data {
        display: flex;
        flex-direction: column;
        .researchareas-group {
          display: flex;
          flex-direction: column;
          width: 100%;
          .researchareas-data-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            margin: 1vw;
            img {
              width: 100%;
              height: auto;
              margin: 0 auto;
              border-radius: 100%;
            }

            span.title {
              font-size: 3vw;
              margin: 1vw;
            }
          }
        }
        a {
          font-size: 3vw;
          padding: 2vw 4vw;
          width: 30%;
          margin: 2vw auto 0;
        }
      }
    }

    .researchlab {
      padding: 4vw 0 4vw 0;
      h1.title {
        padding-bottom: 1vw;
        margin: 0;
        font-size: 6vw;
      }
      p {
        font-size: 3vw;
        margin-bottom: 3vw;
      }
      .researchlab-data {
        display: flex;
        flex-direction: column;
        .researchlab-group {
          display: flex;
          flex-direction: column;
          width: 100%;
          .researchlab-data-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            margin: 1vw;
            text-align: center;
            a{
              .logo {
                width: 100%;
                margin: 0 auto;
                img {
                  height: auto;
                  margin: 0 auto;
                  padding: 2vw;
                }
              }
  
              span.title {
                font-size: 3vw;
                margin: 1vw;
              }
            }
          }
        }
        a.readmore {
          font-size: 3vw;
          padding: 2vw 4vw;
          width: 30%;
          margin: 2vw auto 0;
        }
      }
    }

    .publication {
      padding: 4vw 0 4vw 0;
      h1.title {
        padding-bottom: 1vw;
        margin: 0;
        font-size: 6vw;
      }
      p {
        font-size: 3vw;
        margin-bottom: 3vw;
      }
      .publication-data {
        display: flex;
        flex-direction: column;
        .publication-group {
          display: flex;
          flex-direction: column;
          width: 100%;
          a {
            // background-color: #64001e;
            // // color: #fff;
            // text-decoration: none;
            // font-weight: 600;
            // font-size: 3vw;
            // display: inline-block;
            // padding: 2vw;
            // width: 40%;
            // margin: 2vw auto 0;
            // text-align: center;
            width: 100%;
            .publication-data-content {
              box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12),
                0 5px 5px -3px rgba(0, 0, 0, 0.2);
              display: flex;
              flex-direction: column;
              width: 100%;
              height: auto;
              margin: 1vw;
              text-align: center;
              .left {
                width: 100%;
                height: auto;
                overflow: hidden;
                background-color: #333;
                img {
                  position: relative;
                  width: 100%;
                  background-color: #333;
                  z-index: 99;
                  opacity: 0.8;
                }
                .left-data {
                  position: absolute;
                  z-index: 999;
                  span.date {
                    color: #fff;
                    font-family: "Avenir Heavy", Arial, sans-serif;
                    font-size: 3vw;
                    letter-spacing: 1px;
                    background-color: #64001e91;
                    padding: 1vw;
                    margin: 0;
                    display: block;
                  }
                }
              }
              .right {
                width: 100%;
                height: auto;
                text-align: left;
                .right-data {
                  padding: 10px;
                  span.journal {
                    font-size: 3vw;
                    background-color: #64001e;
                    padding: 0.5vw;
                    color: #fff;
                    font-family: "Avenir Heavy", Arial, sans-serif;
                  }
                  h1.title {
                    font-size: 6vw;
                    margin-top: 1vw;
                    font-family: "Avenir Black", Arial, sans-serif;
                  }
                  p.sub-data {
                    font-family: "Avenir Heavy", Arial, sans-serif;
                    font-size: 3vw;
                    color: #333;
                    margin: 1vw 0 1vw 0;
                    p{
                      font-size: 3vw;
                    }
                  }
                  span.authors {
                    font-size: 3vw;
                  }
                }
              }
            }
          }
        }
      
      }
    }

    .faculty {
      margin-bottom: 4vw;
      .content {
        display: flex;
        flex-direction: column;
        height: auto;
        .faculty-data {
          padding-top: 4vw;
          width: 100%;
          margin-left: 0;
          h1.title {
            padding-bottom: 1vw;
            margin-bottom: 1vw;
            font-size: 6vw;
          }
          a {
            font-weight: 600;
            font-size: 3vw;
            margin-top: 2vw;
            padding: 2vw 3vw;
          }
          p.sub {
            font-size: 3vw;
          }
          .faculty-data-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .faculty-group {
              display: flex;
              flex-direction: column;
              .data {
                text-align: center;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;
                img {
                  width: 50vw;
                  height: 50vw;
                  margin: 2vw auto;
                }
                span.name {
                  color: #333;
                  font-size: 3vw;
                }
                p.job-title {
                  margin: 1vw;
                  font-size: 3vw;
                }
              }
            }
          }
        }
        .testimonials {
          width: 100%;
          .slick-slider {
            width: 100%;
            margin: 0 auto;
            .slick-prev {
              display: none !important;
            }
            .slick-next {
              display: none !important;
            }
            .slick-list {
              height: 115vw;
              .slick-track {
                height: 100%;
                .testimonials-content {
                  text-align: center;
                  height: 115vw;
                  img {
                    width: 100%;
                    height: auto;
                  }
                  h2.name {
                    margin: 0;
                    padding: 2vw 1vw 1vw 1vw;
                    font-size: 5vw;
                  }
                  p.desc {
                    margin: 0;
                    font-size: 3vw;
                  }
                  blockquote {
                    font-size: 3vw;
                    text-align: center;
                    font-family: "Times New Roman", sans-serif;
                    padding: 3vw 0 2vw;
                    border: none;
                    position: relative;
                    font-style: italic;
                    quotes: "\201C" "\201D" "\2018" "\2019";
                  }
                  blockquote:before {
                    top: 0;
                    left: -3.5vw;
                    font-size: 6vw;
                  }
                  blockquote:after {
                    bottom: -4.5vw;
                    right: -1vw;
                    font-size: 6vw;
                  }
                  a {
                    padding: 2vw 3vw;
                    font-size: 3vw;
                  }
                }
              }
            }
            .slick-dots {
              bottom: 20px;
              li {
                width: 30px;
                height: 30px;
                button:before {
                  font-size: 20px;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
