.researchsolo-main-content{
    background-color: #fff;
    h1.intro{
        margin: 0;
        padding: 20px 0;
        background: #9f0e31;
        letter-spacing: 2px;
        color: #fff;
    }
    .main-content{
        padding: 4vw 2vw 4vw 2vw;
        .solo-intro-content{
           margin-bottom: 10px;
           display: flex;
           flex-direction: column;
            img{
                width: 20%;
                height: auto;
                object-fit: cover;
                // border: solid 4px #64001e;
                // border-radius: 100%;
                //box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
            }
            h1{
                font-family: 'Avenir Black' , Arial, sans-serif;
                border-bottom: 6px solid #64001e;
                margin: 0 0 10px;
                padding-bottom: .3em;
                width: 100%;
                font-size: 2em;
            }
            span.position{
                font-family: 'Avenir Medium' , Arial, sans-serif;
                font-size: 20px;
            }
            span.admin{
                font-size: 20px;
            }
        }
        .solo-contact{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-bottom: 3px solid #333;
            padding-bottom: .3em;
            span{
                margin-right: 0.5vw;
                font-size: 15px;
                font-family: 'Avenir Medium' , Arial, sans-serif;
            }
        }
        .solo-education{
            h2{
                color: #64001e;
                font-size: 25px;
                letter-spacing: 1px;
                font-family: 'Avenir Medium' , Arial, sans-serif;
            }
            li{
                color: #333;
                font-size: 20px;
                font-family: 'Avenir Medium' , Arial, sans-serif;
                margin-left: 1vw;
            }
        }
        
        .solo-research{
            h2{
                color: #64001e;
                font-size: 25px;
                letter-spacing: 1px;
                font-family: 'Avenir Medium' , Arial, sans-serif;
            }
            li{
                color: #333;
                font-size: 20px;
                font-family: 'Avenir Medium' , Arial, sans-serif;
                margin-left: 1vw;
            }
        }
        .lab{
            h2{
                color: #64001e;
                font-size: 25px;
                letter-spacing: 1px;
                font-family: 'Avenir Medium' , Arial, sans-serif;
            }
            li{
                color: #333;
                font-size: 20px;
                font-family: 'Avenir Medium' , Arial, sans-serif;
                margin-left: 1vw;
            }
        }
        .solo-publications{
            h2{
                color: #64001e;
                font-size: 25px;
                letter-spacing: 1px;
                font-family: 'Avenir Medium' , Arial, sans-serif;
            }
            li{
                color: #333;
                font-size: 20px;
                font-family: 'Avenir Medium' , Arial, sans-serif;
                list-style-type: square;
                margin: 15px 0 15px 0;
            }
        }
    }
}


//MOBILE
@media only screen and(max-width: 767px) {
    .researchsolo-main-content{
        background-color: #fff;
        h1.intro{
            margin: 0;
            padding: 2vw 0;
            background: #9f0e31;
            letter-spacing: 2px;
            color: #fff;
        }
        .main-content{
            padding-top: 4vw;
            padding-bottom: 4vw;
            width: 90%;
            margin: 0 auto;
            .solo-intro-content{
               margin-bottom: 1vw;
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border: solid 4px #64001e;
                }
                h1{
                    margin: 0 0 1vw;
                    padding-bottom: 1vw;
                    width: 100%;
                    font-size: 6vw;
                }
                span.position{
                    font-size: 3vw;
                }
                span.adminrole{
                    font-size: 3vw;
                }
            }
            .solo-contact{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border-bottom: 3px solid #333;
                padding-bottom: 1vw;
                span{
                    margin-right: 0.5vw;
                    font-size: 3vw;
                }
            }
            .solo-education{
                h2{
                    color: #64001e;
                    font-size: 6vw;
                }
                li{
                    color: #333;
                    font-size: 3vw;
                }
            }
            
            .solo-research{
                h2{
                    color: #64001e;
                    font-size: 6vw;
                }
                li{
                    color: #333;
                    font-size: 3vw;
                }
            }
            .solo-publications{
                h2{
                    color: #64001e;
                    font-size: 6vw;
                }
                li{
                    font-size: 3vw;
                    margin: 2vw 0 2vw 0;
                }
            }
        }
    }
}