.student-main-content{
    background-color: #fff;

    .student-class{
        background-color: #f1f1f1;
        color: #fff;
        padding: 70px 0 100px 0;
        h1.title{
            padding-bottom: 1vw;
            margin: 0;
            font-size: 35px;
            border-bottom: 2px solid #64001e;
            color: #333;
            letter-spacing: 1px;
        }
        p.sub-title{
            font-size: 18px;
            color: #333;
            margin-bottom: 30px;
            font-family: "Avenir Medium", Arial, sans-serif;
        }
        p{
            font-size: 18px;
            color: #333;
            margin-bottom: 60px;
        }
        .student-class-data{
            display: flex;
            flex-direction: column;
            .testimonials{
                margin: 0 0 4vw 0;
                padding: 1vw;
                background-color: #64001e;
                display: flex;
                flex-direction: row;
                .left{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        width: 35%;
                        height: 300px;
                        img{
                            height: 200px;
                            width: 200px;
                            border-radius: 110px;
                            object-fit: cover;
                            margin: 10px auto;
                        }
                        span.name{
                            color: #fff;
                            font-size: 20px;
                            font-weight: 600;
                            font-size: 20px;
                        }
                        p.job-title{
                            margin: 5px;
                            color: #f1f1f1;
                            font-size: 16px;
                            font-style: italic;
                        }
                }
                .right{
                    width: 59%;
                    blockquote{
                        font-size: 20px;
                        text-align: center;
                        font-family: "Times New Roman", sans-serif;
                        padding: 30px 0 20px;
                        border: none;
                        position: relative;
                        font-style: italic;
                        quotes: "\201C" "\201D" "\2018" "\2019";
                    }
                    blockquote:before{
                        top: 0;
                        left: -50px;
                        font-size: 60px;
                        content: open-quote;
                        position: absolute;
                    }
                    blockquote:after{
                        bottom: -45px;
                        right: -15px;
                        font-size: 60px;
                        content: close-quote;
                        position: absolute;
                    }
                }
                
            }
            .student-class-data-content{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .student-class-group{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                    .data{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        width: 33%;
                        height: 300px;
                        img{
                            height: 200px;
                            width: 200px;
                            border-radius: 110px;
                            object-fit: cover;
                            margin: 10px auto;
                        }
                        span.name{
                            color: #333;
                            font-size: 20px;
                            font-weight: 600;
                            font-size: 20px;
                        }
                        p.job-title{
                            margin: 5px;
                            color: #333;
                            font-size: 16px;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }

    .student-stories{
        border-top: 1px solid #64001e;
        padding: 70px 0 100px 0;
        h1.title{
            padding-bottom: 1vw;
            margin: 0;
            font-size: 35px;
            border-bottom: 2px solid #64001e;
            color: #333;
            letter-spacing: 1px;
        }
        p.sub-title{
            font-size: 18px;
            color: #333;
            margin-bottom: 30px;
            font-family: "Avenir Medium", Arial, sans-serif;
        }
        p{
            font-size: 18px;
            color: #333;
            margin-bottom: 60px;
        }
        .student-stories-data{
            display: flex;
            flex-direction: row;
            .student-stories-data-content{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .student-stories-group{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                    .data{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        width: 48%;
                        height: auto;
                        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);;
                        border-radius: 20px;
                        margin: 1%;
                        img{
                            height: 300px;
                            width: 100%;
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                            object-fit: contain;
                        }
                        .details{
                            padding: 10px 20px 10px 20px;
                            h2.title{
                                text-align: left;
                                font-size: 20px;
                            }
                            p.excerpt{
                                text-align: left;
                                text-align: justify;
                                font-size: 15px;
                                margin: 0;
                                font-family: "Avenir Medium", Arial, sans-serif;
                            }
                        }
                        .lower-details{
                            margin: 10px 0 20px 0;
                            a{
                                background-color: #64001e;
                                color: #fff;
                                text-decoration: none;
                                padding: 14px;
                                font-size: 15px;
                                display: inline-block;
                                opacity: 0.9;
                                box-shadow: #333;
                                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
                            }
                        }
                    }
                }
            }
        }
    }

}


//MOBILE
@media only screen and(max-width: 767px) {
    .student-main-content{
    
        .student-class{
            background-color: #f1f1f1;
            color: #fff;
            padding: 7vw 0 10vw 0;
            h1.title{
                padding-bottom: 1vw;
                margin: 0;
                font-size: 6vw;
            }
            p{
                font-size: 3vw;
                margin-bottom: 6vw;
            }
            .student-class-data{
                display: flex;
                flex-direction: column;
                .testimonials{
                    margin: 0 0 4vw 0;
                    padding: 1vw;
                    background-color: #64001e;
                    display: flex;
                    flex-direction: column;
                    .left{
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            img{
                                height: auto;
                                width: 100%;
                                border-radius: unset;
                                object-fit: cover;
                                margin: 1vw auto;
                            }
                            span.name{
                                color: #fff;
                                font-size: 3vw;
                                font-weight: 600;
                            }
                            p.job-title{
                                margin: 1vw;
                                font-size: 3vw;
                            }
                    }
                    .right{
                        width: 100%;
                        blockquote{
                            font-size: 3vw;
                            text-align: center;
                            font-family: "Times New Roman", sans-serif;
                            padding: 3vw 0 2vw;
                            border: none;
                            position: relative;
                            font-style: italic;
                            quotes: "\201C" "\201D" "\2018" "\2019";
                        }
                        blockquote:before{
                            top: 0;
                            left: -50px;
                            font-size: 60px;
                            content: open-quote;
                            position: absolute;
                        }
                        blockquote:after{
                            bottom: -45px;
                            right: -15px;
                            font-size: 60px;
                            content: close-quote;
                            position: absolute;
                        }
                    }
                    
                }
                .student-class-data-content{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .student-class-group{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        .data{
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            img{
                                width: 100%;
                                height: auto;
                                border-radius: unset;
                                object-fit: cover;
                                margin: 1vw auto;
                            }
                            span.name{
                                font-size: 3vw;
                            }
                            p.job-title{
                                margin: 1vw;
                                font-size: 3vw;
                            }
                        }
                    }
                }
            }
        }
    
        .student-stories{
            padding: 7vw 0 10vw 0;
            h1.title{
                padding-bottom: 1vw;
                margin: 0;
                font-size: 6vw;
                color: #333;
            }
            p{
                font-size: 3vw;
                color: #333;
                margin-bottom: 60px;
            }
            .student-stories-data{
                display: flex;
                flex-direction: column;
                .student-stories-data-content{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .student-stories-group{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        .data{
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            border-radius: 2vw;
                            margin: 1%;
                            img{
                                
                                width: 100%;
                                height: auto;
                                border-top-left-radius: 2vw;
                                border-top-right-radius: 2vw;
                            }
                            .details{
                                padding: 1vw 2vw 1vw 2vw;
                                h2.title{
                                    text-align: left;
                                    font-size: 6vw;
                                }
                                p.excerpt{
                                    text-align: left;
                                    text-align: justify;
                                    font-size: 3vw;
                                    margin: 0;
                                }
                            }
                            .lower-details{
                                margin: 1vw 0 2vw 0;
                                a{
                                    background-color: #64001e;
                                    color: #fff;
                                    text-decoration: none;
                                    padding: 2vw;
                                    font-size: 3vw;
                                    display: inline-block;
                                    opacity: 0.9;
                                    box-shadow: #333;
                                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
                                }
                            }
                        }
                    }
                }
            }
        }
    
    }
    
}