.pub-main-content{
    background-color: #fff;

    .banner{
        height: 400px;
        overflow: hidden;
        background-image: url('../../assets/img/faculty-banner.JPG');
        background-size: cover;
        background-repeat: no-repeat;
        .banner-main-content{
            margin-left: 10vw;
            color: #fff;
            width: 33vw;
            margin-top: 5vw;
            text-shadow: 0.5px 0.5px 4px #fff;
            h1{
                color: #333;
                font-size: 2vw;
            }
            p.sub-title-header{
                color: #333;
                font-weight: 600;
                font-size: 1.5vw;
            }
        }
    }

    

    .pub-stories{
        border-top: 1px solid #64001e;
        padding: 70px 0 100px 0;
        h1.title{
            padding-bottom: 1vw;
            margin: 0;
            font-size: 25px;
            border-bottom: 2px solid #64001e;
            color: #333;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
        }
        // p{
        //     font-size: 18px;
        //     color: #333;
        //     margin-bottom: 60px;
        // }
        .pub-stories-data{
            display: flex;
            flex-direction: column;
            .pub-stories-data-content{
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 80px;
                .tags{
                    display: flex;
                    flex-direction: row;
                    span{
                        font-family: 'Avenir Heavy' , Arial, sans-serif;
                        padding: 5px 10px 5px 10px;
                        margin: 0 10px 10px 0;
                        font-size: 12px;    
                    }
                    span.journal{
                        background-color: #64001e;
                        color: #fff;
                    }
                    span.date{
                        background-color: #333;
                        color: #fff;
                    }
                }
                p.author{
                    font-size: 15px;
                    margin: 1vw 0 1vw 0;
                    display: flex;
                    flex-direction: row;
                    color: #333;
                    align-items: center;
                    svg{
                        margin-left: 5px;
                        color: #64001e;
                    }
                }
                .abstract{
                    p{
                        font-size: 15px;
                        margin: 0 0 10px 0   ;
                        color: #333;
                        font-family: 'Avenir Medium' , Arial, sans-serif;
                        span{
                            color: #64001e;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }
                    }
                }
                .clickable{
                    display: flex;
                    flex-direction: column;
                    border-bottom: #64001e 2px solid;
                    figure{
                        img{
                            margin: 10px 0 10px 0;
                            width: 100%;
                            height: 300px;
                        }
                    }
                    .click-span{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding-bottom: 1em;
                        span{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-right: 15px;
                            cursor: pointer;
                        }
                        svg{
                            color: #64001e;
                        }
                    }
                 
                }
            }
        }
    }

}


//MOBILE
@media only screen and(max-width: 767px) {
    .pub-main-content{
        background-color: #fff;
    
        
        .banner{
            height: 40vw;
            overflow: hidden;
            .banner-main-content{
                margin-left: 8vw;
                width: 55vw;
                margin-top: 5vw;
                text-shadow: 0.5px 0.5px 4px #fff;
                h1{
                    color: #333;
                    font-size: 4vw;
                }
                p.sub-title-header{
                    font-size: 3vw;
                }
            }
        }
    
        
    
        .pub-stories{
            border-top: 1px solid #64001e;
            padding: 7vw 0 10vw 0;
            h1.title{
                padding-bottom: 1vw;
                margin: 0;
                font-size: 3vw;
                border-bottom: 2px solid #64001e;
                color: #333;
            }
            .pub-stories-data{
                display: flex;
                flex-direction: column;
                .pub-stories-data-content{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 8vw;
                    .tags{
                        display: flex;
                        flex-direction: row;
                        span{
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                            padding: 1vw;
                            margin: 0 1vw 1vw 0;
                            font-size: 3vw;    
                        }
                        span.journal{
                            background-color: #64001e;
                            color: #fff;
                            font-size: 3vw;
                        }
                        span.date{
                            background-color: #333;
                            color: #fff;
                            font-size: 3vw;
                        }
                    }
                    p.author{
                        font-size: 3vw;
                        margin: 1vw;
                        display: flex;
                        flex-direction: row;
                        color: #333;
                        align-items: center;
                        svg{
                            margin-left: 5px;
                            color: #64001e;
                        }
                    }
                    .abstract{
                        p{
                            font-size: 3vw;
                            margin: 0 0 1vw 0   ;
                            color: #333;
                            font-family: 'Avenir Medium' , Arial, sans-serif;
                            span{
                                color: #64001e;
                                font-family: 'Avenir Heavy' , Arial, sans-serif;
                                font-size: 3vw;
                            }
                        }
                    }
                    .clickable{
                        display: flex;
                        flex-direction: column;
                        border-bottom: #64001e 2px solid;
                        figure{
                            img{
                                margin: 1vw 0 1vw 0;
                                width: 100%;
                                height: auto;
                            }
                        }
                        .click-span{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding-bottom: 1vw;
                            span{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                margin-right: 2vw;
                                cursor: pointer;
                            }
                            svg{
                                color: #64001e;
                            }
                        }
                     
                    }
                }
            }
        }
    
    }
}