@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.nav-upper-color-1{
    height: 5px;
    width: 16.66666667% !important;
    background: #810725;
}
.nav-upper-color-2{
    height: 5px;
    width: 16.66666667% !important;
    background: #9f0e31;
}
.nav-upper-color-3{
    height: 5px;
    width: 16.66666667% !important;
    background: #c31f48;
}
.nav-upper-color-4{
    height: 5px;
    width: 16.66666667% !important;
    background: #820000;
}
.nav-upper-color-5{
    height: 5px;
    width: 16.66666667% !important;
    background: #650006;
}
.nav-upper-color-6{
    height: 5px;
    width: 16.66666667% !important;
    background: #c31f48;
}

.header-nav{
    background-color: #fff;
    width: 100%;
    .upper-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 0 20px 0;
        .main-logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 1vw;
            img{
                width: 90px;
                height: auto;
                margin-right: 0.5vw;
            }
            img.titlelogo{
                width: 230px;
            }
        }
        .menu{
            color: #64001e;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 20vw;
            span{
                font-size: 10vw;
                font-family: "Poppins", sans-serif;
                margin-right: 0.5vw;
            }
            svg{
                font-size: 10vw;
            }
        }
        .search{
            align-items: flex-end;
            padding: 10px;
            margin-left: 38%;
            .search-container{
                border: 2px solid #64001e;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px;
                border-radius: 15px;
                
                svg{
                    font-size: 2em;
                }
                input[type=text]{
                    border: transparent;
                    font-size: 15px;
               }
               input:focus, textarea:focus, select:focus{
                    outline: none;
               }
            }
        }
    }
    .nav-links{
        border-top: 1px solid #64001e;
        border-bottom: 1px solid #64001e;
        ul{
            margin: 7px 0 7px 0;
            padding-inline-start: 0;
            display: flex;
            justify-content: center;
            li{
                list-style-type: none;
                display: inline;
                padding: 0 2vw;
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 0.8vw;
                    font-weight: 500;
                    color: #333;
                    font-family: 'Avenir Heavy' , Arial, sans-serif;
                }
                a:hover{
                    color: #64001e;
                    border-bottom: 3px solid #64001e;
                    padding: 5px 0;
                }
                ul.dropdown{
                    display: none;
                    position: absolute;
                    background-color: #f1f1f1;
                    min-width: 200px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    opacity: 0.9;
                    background-color: #64001e;
                    padding: 10px;
                    
                    li{
                        background-color: #64001e;
                        padding: 10px;
                        a{
                            color: #fff;
    
                        }
                        a:hover{
                            border-bottom: none;
                            font-weight: 600;
                        }
                    }
                    li:hover{
                        opacity: 1;
                    }
                }
    
            }
            li#about-us:hover{
                ul.dropdown{
                    display: flex;
                    flex-direction: column;
                }
            }
    
            li#graduates:hover{
                ul.dropdown{
                    display: flex;
                    flex-direction: column;
                }
            }
    
            li#our-people:hover{
                ul.dropdown{
                    display: flex;
                    flex-direction: column;
                }
            }
    
            li#newsandevents:hover{
                ul.dropdown{
                    display: flex;
                    flex-direction: column;
                }
            }
           
        }
    }
    .header-intro{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #64001e;
        p{
            margin: 0;
            text-align: center;
            letter-spacing: 1px;
            color: #64001e;
            font-weight: 600;
            font-size: 15px;
        }
    }

    .sidenav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #64001e;
        opacity: 0.97;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        z-index: 9999; 
        a.closebtn{
            display: block;
            margin: 0 5vw 0 0;
            text-decoration: none;
            font-size: 10vw;
            text-transform: uppercase;
            color: #fff;
            font-weight: 600;
            float: right;
            svg{
                font-size: 10vw;
            }
        }
        a.closebtn:hover{
            background-color: transparent;
            color: #fff;
        }
        ul.main-ul{
            list-style-type: none;
            margin: 5vw 0 0 4vw;
            padding: 0;
            li.main-ul{
                margin: 6vw 0 2vw 15vw;
                a{
                    font-family: "Poppins", sans-serif;
                    display: flex;
                    transition: 0.3s;
                    text-decoration: none;
                    font-size: 6vw;
                    letter-spacing: 1px;
                    color: #fff;
                    justify-content: flex-start;
                    width: 100%;
                }
                svg{
                    font-size: 8vw;
                    margin: 0.5vw 0 0 1vw;
                }
                ul.dropdown{
                    list-style-type: none;
                    li{
                        margin-top: 4vw;
                        a{
                            font-family: "Poppins", sans-serif;
                            display: flex;
                            transition: 0.3s;
                            text-decoration: none;
                            font-size: 6vw;
                            letter-spacing: 1px;
                            color: #fff;
                            justify-content: flex-start;
                            width: 100%;
                        }
                    }
                }
                .closeDrop{
                    display: none;
                }
                .openDrop{
                    display: block;
                }
            }
        }
    }
}

@media only screen and(max-width: 767px) {

    .header-nav{
        .upper-nav{
            padding: 5vw 0 5vw 0;
            border-bottom: 1vw solid #64001e;
            .main-logo{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 4vw;
             
                img{
                    width: 12vw;
                    height: auto;
                    margin-right: 0.5vw;
                }
                img.titlelogo{
                    width: 34vw;
                }
            }
            .menu{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 10vw;
                span{
                    font-size: 10vw;
                    margin-right: 0.5vw;
                }
                svg{
                    font-size: 10vw;
                }
            }
            .search{
                align-items: flex-end;
                padding: 10px;
                margin-left: 38%;
                .search-container{
                    padding: 10px;
                    border-radius: 15px;
                    
                    svg{
                        font-size: 2em;
                    }
                    input[type=text]{
                        border: transparent;
                        font-size: 15px;
                }
                input:focus, textarea:focus, select:focus{
                        outline: none;
                }
                }
            }
        }
        .header-intro{
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #64001e;
            p{
                margin: 0;
                text-align: center;
                letter-spacing: 1px;
                color: #64001e;
                font-weight: 600;
                font-size: 15px;
            }
        }

        .sidenav{
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #64001e;
            opacity: 0.97;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            z-index: 9999; 
            a.closebtn{
                display: block;
                margin: 0 5vw 0 0;
                text-decoration: none;
                font-size: 10vw;
                text-transform: uppercase;
                color: #fff;
                font-weight: 600;
                float: right;
                svg{
                    font-size: 10vw;
                }
            }
            a.closebtn:hover{
                background-color: transparent;
                color: #fff;
            }
            ul.main-ul{
                list-style-type: none;
                margin: 5vw 0 0 4vw;
                padding: 0;
                li.main-ul{
                    margin: 6vw 0 2vw 15vw;
                    a{
                        font-family: "Poppins", sans-serif;
                        display: flex;
                        transition: 0.3s;
                        text-decoration: none;
                        font-size: 6vw;
                        letter-spacing: 1px;
                        color: #fff;
                        justify-content: flex-start;
                        width: 100%;
                    }
                    svg{
                        font-size: 8vw;
                        margin: 0.5vw 0 0 1vw;
                    }
                    ul.dropdown{
                        list-style-type: none;
                        li{
                            margin-top: 4vw;
                            a{
                                font-family: "Poppins", sans-serif;
                                display: flex;
                                transition: 0.3s;
                                text-decoration: none;
                                font-size: 6vw;
                                letter-spacing: 1px;
                                color: #fff;
                                justify-content: flex-start;
                                width: 100%;
                            }
                        }
                    }
                    .closeDrop{
                        display: none;
                    }
                    .openDrop{
                        display: block;
                    }
                }
            }
        }
    }

}