@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.footer-section {
  .upper-footer {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #64001e;
    .upper {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 2vw;
      h1 {
        color: #787878;
        font-size: 25px;
        border-bottom: solid 1px #787878;
        width: 20%;
        font-weight: 600;
        padding: 10px;
        text-transform: uppercase;
      }
      .social-media {
        margin-left: 5%;
        svg {
          margin-right: 10px;
          font-size: 45px;
          color: #64001e;
        }
      }
    }
    .mid {
      margin-left: 2vw;
      .main-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          width: 90px;
          height: auto;
          margin-right: 0.5vw;
        }
        img.titlelogo {
          width: 220px;
        }
      }
    }
    .lower {
      display: flex;
      flex-direction: row;
      padding-bottom: 20px;
      justify-content: center;
      margin-left: 3%;
      .address {
        width: 40%;
        p {
          color: #333;
        }
        p.address-title {
          font-size: 17px;
          font-weight: 600;
        }
        p.address-details {
          font-size: 15px;
          font-weight: 500;
        }
      }
      .telephone {
        width: 25%;
        .telephone-title {
          font-size: 17px;
          font-weight: 600;
          color: #333;
          display: flex;
          align-items: center;
          svg {
            font-size: 25px;
            margin-right: 10px;
          }
        }
        .telephone-details {
          font-size: 15px;
          font-weight: 500;
        }
      }
      .email {
        width: 35%;
        .email-title {
          font-size: 17px;
          font-weight: 600;
          color: #333;
          display: flex;
          align-items: center;
          svg {
            font-size: 30px;
            margin-right: 5px;
          }
        }
        .email-details {
          text-decoration: none;
          color: #333;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }
  .footer-link {
    border-top: 1vw solid #64001e;
    background-color: #f0f0f0;
    ul {
      padding: 15px 0 15px 0;
      padding-inline-start: 0;
      display: flex;
      justify-content: center;
      margin-block-start: 0;
      margin-block-end: 0;
      li {
        list-style-type: none;
        display: inline;
        padding: 0 2vw;
        ul.lower-link {
          display: flex;
          flex-direction: column;
          li {
            padding: 2px 0;
            a {
              font-size: 15px;
              font-weight: 500;
              text-transform: initial;
            }
          }
        }
        a {
          font-family: "Poppins", sans-serif;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 600;
          color: #333;
        }
      }
    }
  }
  .footer-copyright {
    background-color: #fff;
    border-top: 1px solid #64001e;
    border-bottom: 1px solid #64001e;
    p {
      font-family: "Poppins", sans-serif;
      color: #333;
      font-weight: 500;
      text-align: center;
      margin: 0;
      padding: 15px 0 15px 0;
    }
  }
}


@media only screen and(max-width: 1000px) {
  .footer-section {
    .upper-footer {
      width: 100%;
      background-color: #fff;
      border-top: 1px solid #64001e;
      .upper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 2vw;
        h1 {
          width: 30%;
        }
      }
      .mid {
        margin-left: 2vw;
        .main-logo {
          display: flex;
          flex-direction: row;
          align-items: center;
          img {
            width: 90px;
            height: auto;
            margin-right: 0.5vw;
          }
          img.titlelogo {
            width: 220px;
          }
        }
      }
      .lower {
        .address {
          width: 45%;
          p {
            color: #333;
          }
          p.address-title {
            font-size: 1.8vw;
          }
          p.address-details {
            font-size: 1.5vw;
          }
        }
        .telephone {
          width: 22%;
          .telephone-title {
            font-size: 1.8vw;
            svg {
              font-size: 1.5vw;
            }
          }
          .telephone-details {
            font-size: 1.5vw;
          }
        }
        .email {
          width: 30%;
          .email-title {
            font-size: 1.8vw;
            svg {
              font-size: 1.5vw;
            }
          }
          .email-details {
            font-size: 1.5vw;
          }
        }
      }
    }
    .footer-link {
      width: 100%;
      .wrapper{
        padding: 1.5vw;
        ul {
          padding: 0;
          li {
            padding: 0 2vw;
            ul.lower-link {
              display: flex;
              flex-direction: column;
              li {
                padding: 2px 0;
                a {
                  font-size: 1.5vw;
                }
              }
            }
            a {
              font-size: 1.5vw;
              font-weight: 600;
            }
          }
        }
      }
    }
    .footer-copyright {
      background-color: #fff;
      border-top: 1px solid #64001e;
      border-bottom: 1px solid #64001e;
      p {
        font-family: "Poppins", sans-serif;
        color: #333;
        font-weight: 500;
        text-align: center;
        margin: 0;
        padding: 15px 0 15px 0;
      }
    }
  }
}

@media only screen and(max-width: 767px) {
  .footer-section {
    .upper-footer {
      width: 100%;
      border-top: 1vw solid #64001e;
      .upper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 4vw;
        h1 {
          color: #787878;
          font-size: 25px;
          border-bottom: solid 1px #787878;
          width: 100%;
          font-weight: 600;
          padding: 2vw;
          text-transform: uppercase;
        }
        .social-media {
          margin-left: 5%;
          svg {
            margin-right: 4vw;
            font-size: 10vw;
            color: #64001e;
          }
        }
      }
      .mid {
        margin: 4vw 0 0 4vw;
        padding: 0 0 4vw 0;
        .main-logo {
          display: flex;
          flex-direction: row;
          align-items: center;
          img {
            width: 15vw;
            height: auto;
            margin-right: 0.5vw;
          }
          img.titlelogo {
            width: 40vw;
          }
        }
      }
    }
    .footer-copyright {
      border-bottom: none;
      p {
        font-size: 2.5vw;
        color: #333;
        font-weight: 500;
        text-align: center;
        margin: 0;
        padding: 3vw 0 3vw 0;
      }
    }
  }
}
