.alumni-container{
    background-color: #fff;
    .alumni-content{
        padding: 35px 0 0 0;
        h1.title{
            padding-bottom: 1vw;
            margin: 0;
            font-size: 35px;
            border-bottom: 2px solid #64001e;
            color: #333;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
        }
        .maintenance-container{
            padding: 100px 0 100px 0;
        }
    }
}