.programsMSCHE-main-content {
  .programsMSCHE-content {
    background-color: #fff;
    padding: 60px 0 60px 0;
    p {
      margin: 0;
    }
    .content-title {
      h1 {
        margin: 0;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
    .vision {
      margin: 40px 0 40px 0;
      h2 {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #333;
        border-bottom: 3px solid #64001e;
      }
      p {
        color: #333;
        text-align: justify;
        font-size: 18px;
        font-family: "Avenir Medium", Arial, sans-serif;
      }
    }
    .mission {
      margin: 40px 0 40px 0;
      h2 {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #333;
        border-bottom: 3px solid #64001e;
      }
      p {
        color: #333;
        text-align: justify;
        font-size: 18px;
        font-family: "Avenir Medium", Arial, sans-serif;
      }
    }
    .curriculum {
      margin: 40px 0 40px 0;
      img{
        width: 55%;
        height: auto;
      }
      h2 {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #333;
        border-bottom: 3px solid #64001e;
      }
      h3 {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #333;
      }
      p {
        color: #333;
        text-align: justify;
        font-size: 18px;
        font-family: "Avenir Medium", Arial, sans-serif;
      }
    }
  }
}

//MOBILE
@media only screen and(max-width: 767px) {
  .programsMSCHE-main-content {
    .programsMSCHE-content {
      background-color: #fff;
      padding: 6vw 0 6vw 0;
      p {
        margin: 0;
      }
      .content-title {
        h1 {
          margin: 0;
          font-size: 3vw;
          font-weight: 600;
        }
      }
      .vision {
        margin: 4vw 0 4vw 0;
        h2 {
          font-size: 6vw;
          font-weight: 600;
        }
        p {
          font-size: 3vw;
        }
      }
      .mission {
        margin: 4vw 0 4vw 0;
        h2 {
          font-size: 6vw;
        }
        p {
          font-size: 3vw;
        }
      }
      .curriculum {
        margin: 4vw 0 4vw 0;
        img{
          width: 100%;
          height: auto;
        }
        h2 {
          font-size: 6vw;
        }
        h3 {
          font-size: 5vw;
        }
        p {
          font-size: 3vw;
        }
      }
    }
  }
}
