.services-main-content{
    background-color: #fff;
    padding: 60px 0 60px 0;
    .services-content{
        .wrapper{
            p{
                font-family: "Avenir Medium", Arial, sans-serif;
            }
        }
    }
}