.news-main-content{
    background-color: #fff;

    .banner{
        height: 400px;
        overflow: hidden;
        background-image: url('../../assets/img/faculty-banner.JPG');
        background-size: cover;
        background-repeat: no-repeat;
        .banner-main-content{
            margin-left: 10vw;
            color: #fff;
            width: 33vw;
            margin-top: 5vw;
            text-shadow: 0.5px 0.5px 4px #fff;
            h1{
                color: #333;
                font-size: 2vw;
            }
            p.sub-title-header{
                color: #333;
                font-weight: 600;
                font-size: 1.5vw;
            }
        }
    }

    .pub-stories{
        border-top: 1px solid #64001e;
        padding: 70px 0 100px 0;
        h1.title{
            padding-bottom: 1vw;
            margin: 0;
            font-size: 35px;
            border-bottom: 2px solid #64001e;
            color: #333;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            img{
                width: 100px;
                height: auto;
                margin-right: 10px;
            }
        }
        p.sub-title{
            font-size: 18px;
            color: #333;
            margin-bottom: 30px;
            font-family: "Avenir Medium", Arial, sans-serif;
        }
        p{
            font-size: 18px;
            color: #333;
            margin-bottom: 60px;
        }
        .pub-stories-data{
            display: flex;
            flex-direction: row;
            .pub-stories-data-content{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .pub-stories-group{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .data{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: auto;
                        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);;
                        margin: 1%;
                        .data-intro{
                            display: flex;
                            flex-direction: row;
                            img{
                                height: auto;
                                width: 30%;
                                margin: auto;
                            }
                            .details{
                                width: 70%;
                                padding: 10px 20px 10px 20px;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                div.detailsTag{
                                    // background-color: #64001e;
                                    background-image: linear-gradient(to left, rgba(100,0,30,0), rgba(100,0,30,1));
                                    min-width: 100%;
                                    padding: 5px 10px;
                                    p{
                                        font-family: 'Avenir Medium' , Arial, sans-serif;
                                        margin : 0;
                                        color: White;
                                        text-align: left;
                                    }
                                }
                                h2.title{
                                    text-align: left;
                                    font-size: 20px;
                                }
                                p.excerpt{
                                    text-align: left;
                                    text-align: justify;
                                    font-size: 18px;
                                    margin: 0;
                                    font-family: 'Avenir Medium' , Arial, sans-serif;
                                }
                                .extra-details{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    border-top: 2px solid #64001e;
                                    width: 100%;
                                    margin-top: 20px;
                                    padding-top: 5px;
                                    p{
                                        font-size: 18px;
                                        margin: 5px 0 5px 0;
                                        text-align: left;
                                    }
                                    span.date{
                                        margin-top: 20px;
                                    }
                                    span.dateTime{
                                        font-weight: 600;
                                        font-family: 'Avenir Medium' , Arial, sans-serif;
                                    }
                                }
                            }
                        }
                    }
                }
                a{
                    background-color: #64001e;
                    color: #fff;
                    text-decoration: none;
                    padding: 14px;
                    font-size: 15px;
                    display: inline-block;
                    opacity: 0.9;
                    box-shadow: #333;
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
                    margin-top: 40px;
                }
            }
        }
    }

    .alumni-stories{
        border-top: 1px solid #64001e;
        padding: 70px 0 100px 0;
        h1.title{
            padding-bottom: 1vw;
            margin: 0;
            font-size: 35px;
            border-bottom: 2px solid #64001e;
            color: #333;
            letter-spacing: 1px;
        }
        p{
            font-size: 18px;
            color: #333;
            margin-bottom: 60px;
        }
        .alumni-stories-data{
            display: flex;
            flex-direction: row;
            .alumni-stories-data-content{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .alumni-stories-group{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    .data{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        width: 48%;
                        height: auto;
                        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);;
                        border-radius: 20px;
                        margin: 1%;
                        img{
                            height: 200px;
                            width: 100%;
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                        }
                        .details{
                            padding: 10px 20px 10px 20px;
                            h2.title{
                                text-align: left;
                                font-size: 20px;
                            }
                            p.excerpt{
                                text-align: left;
                                text-align: justify;
                                font-size: 15px;
                                margin: 0;
                            }
                        }
                        .lower-details{
                            margin: 10px 0 20px 0;
                            a{
                                background-color: #64001e;
                                color: #fff;
                                text-decoration: none;
                                padding: 14px;
                                font-size: 15px;
                                display: inline-block;
                                opacity: 0.9;
                                box-shadow: #333;
                                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
                            }
                        }
                    }
                }
            }
        }
    }

    .pub-new-stories-data{ 
        display: flex;
        flex-direction: column;
        width: 100%;
        .pub-stories-data-content{
            display: flex;
            flex-direction: row;
            width: 100%;
            border-bottom: 3px solid #64001e;
            margin: 1vw 0 1vw 0;
            padding: 1vw;
            align-items: flex-start;
            justify-content: center;
            img{
                width: 38%;
                height: auto;
                margin: 0 2% 0 0;
                object-fit: contain;
            }
            .data{
                width: 50%;
                h1.title{
                    padding-bottom: 1vw;
                    margin: 0;
                    font-size: 20px;
                    color: #333;
                    letter-spacing: 1px;
                    display: flex;
                    align-items: center;
                    border-bottom: none;
                }
                .abstract{
                    p{
                        font-size: 18px;
                        margin: 0 0 10px 0   ;
                        color: #333;
                        font-family: 'Avenir Medium' , Arial, sans-serif;
                        span{
                            color: #64001e;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }
                    }
                }
            }
        }
    }

    .articles{
        margin-top: 50px
    }

}


//MOBILE
@media only screen and(max-width: 767px) {
    .news-main-content{
        .banner{
            height: 40vw;
            overflow: hidden;
            .banner-main-content{
                margin-left: 8vw;
                width: 55vw;
                margin-top: 5vw;
                text-shadow: 0.5px 0.5px 4px #fff;
                h1{
                    color: #333;
                    font-size: 4vw;
                }
                p.sub-title-header{
                    font-size: 3vw;
                }
            }
        }
    
        .pub-stories{
            padding: 7vw 0 10vw 0;
            h1.title{
                padding-bottom: 1vw;
                margin: 0;
                font-size: 6vw;
                img{
                    width: 100%;
                    height: auto;
                    margin-right: 10px;
                }
            }
            p{
                font-size: 3vw;
                margin-bottom: 6vw;
            }
            .pub-stories-data{
                display: flex;
                flex-direction: column;
                .pub-stories-data-content{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .pub-stories-group{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        .data{
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            margin: 1%;
                            .data-intro{
                                display: flex;
                                flex-direction: column;
                                img{
                                    height: auto;
                                    width: 100%;
                                    margin: auto;
                                }
                                .details{
                                    width: 90%;
                                    padding: 1vw 2vw;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    h2.title{
                                        text-align: left;
                                        font-size: 6vw;
                                    }
                                    p.excerpt{
                                        text-align: left;
                                        text-align: justify;
                                        font-size: 3vw;
                                        margin: 0;
                                    }
                                    .extra-details{
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        border-top: 2px solid #64001e;
                                        width: 100%;
                                        margin-top: 3vw;
                                        span{
                                            font-size: 3vw;
                                            margin: 1vw 0 1vw 0;
                                        }
                                        span.date{
                                            margin-top: 2vw;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    a{
                        padding: 2vw 4vw;
                        font-size: 3vw;
                    }
                }
            }
        }
    
        .alumni-stories{
            border-top: 1px solid #64001e;
            padding: 7vw 0 10vw 0;
            h1.title{
                padding-bottom: 1vw;
                margin: 0;
                font-size: 6vw;
                letter-spacing: 1px;
            }
            p{
                font-size: 3vw;
                color: #333;
                margin-bottom: 6vw;
            }
            .alumni-stories-data{
                display: flex;
                flex-direction: column;
                .alumni-stories-data-content{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .alumni-stories-group{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        .data{
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            border-radius: 2vw;
                            margin: 1%;
                            img{
                                
                                width: 100%;
                                height: auto;
                                border-top-left-radius: 2vw;
                                border-top-right-radius: 2vw;
                            }
                            .details{
                                padding: 1vw 2vw;
                                h2.title{
                                    font-size: 6vw;
                                }
                                p.excerpt{
                                    font-size: 3vw;
                                    margin: 0;
                                }
                            }
                            .lower-details{
                                margin: 1vw 0 2vw 0;
                                a{
                                    padding: 2vw 4vw;
                                    font-size: 3vw;
                                }
                            }
                        }
                    }
                }
            }
        }

        .pub-new-stories-data{  
            width: 100%;
            .pub-stories-data-content{
                display: flex;
                flex-direction: column;
                img{
                    width: 100%;
                    height: auto;
                    margin: 1vw 0 0 0;
                }
                .data{
                    width: 100%;
                    h1.title{
                        font-size: 4vw;
                    }
                    .abstract{
                        p{
                            font-size: 3vw;
                        }
                    }
                }
            }
        }
    
    }    
}