.governingboard-main-content {
  .governingboard-content {
    background-color: #fff;
    padding: 60px 0 60px 0;
    p {
      margin: 0;
    }
    .content-title {
      h1.title {
        padding-bottom: 1vw;
        margin: 0;
        font-size: 35px;
        border-bottom: 2px solid #64001e;
        color: #333;
        letter-spacing: 1px;
      }
    }

    .sub-data {
      margin: 40px 0 40px 0;
      p {
        font-size: 18px;
        color: #333;
        text-align: justify;
        margin-bottom: 20px;
      }
      .thin {
        font-family: "Avenir Medium", Arial, sans-serif;
      }
    }

    .main-data {
      text-align: center;
      .job-desc {
        p {
          color: #64001e;
          font-size: 20px;
          font-weight: 600;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
      .name {
        p {
          color: #333;
          font-size: 18px;
          font-weight: 600;
        }
      }
      .location {
        p {
          color: #333;
          font-size: 15px;
          font-weight: 400;
          margin-bottom: 20px;
          font-style: italic;
          font-family: "Avenir Medium", Arial, sans-serif;
        }
      }
    }
  }
}

//MOBILE
@media only screen and(max-width: 767px) {
  .governingboard-main-content {
    .governingboard-content {
      padding: 6vw 0 6vw 0;
      p {
        margin: 0;
      }
      .content-title {
        h1 {
          margin: 0;
          font-size: 3vw;
        }
      }

      .sub-data {
        margin: 4vw 0 4vw 0;
        p {
          font-size: 3vw;
          margin-bottom: 2vw;
        }
      }

      .main-data {
        text-align: center;
        .job-desc {
          p {
            font-size: 3vw;
            margin-top: 2vw;
            margin-bottom: 2vw;
          }
        }
        .name {
          p {
            font-size: 3vw;
          }
        }
        .location {
          p {
            font-size: 3vw;
            margin-bottom: 2vw;
          }
        }
      }
    }
  }
}
