.faculty-main-content{
    background-color: #fff;

    .banner{
        height: 400px;
        overflow: hidden;
        background-image: url('../../assets/img/faculty-banner.JPG');
        background-size: cover;
        background-repeat: no-repeat;
        .banner-main-content{
            margin-left: 10vw;
            color: #fff;
            width: 33vw;
            margin-top: 5vw;
            h1{
                color: #333;
                font-size: 2vw;
            }
            p.sub-title-header{
                color: #333;
                font-weight: 400;
                font-size: 1.5vw;
                font-family: "Avenir Medium", Arial, sans-serif;
            }
        }
    }

    .faculty-testimonials{
        background-color: #f1f1f1;
        color: #fff;
        border-top: 1px solid #64001e;
        .content{
            display: flex;
            flex-direction: row;
            height: 700px;
            .faculty-data{
                padding-top: 50px;
                width: 55%;
                margin-left: 5%;
                h1.title{
                    padding-bottom: 1vw;
                    margin-bottom: 10px;
                    font-size: 35px;
                    border-bottom: 2px solid #64001e;
                    color: #333;
                    letter-spacing: 1px;
                }
                a{
                    background-color: #64001e;
                    color: #fff;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 15px;
                    margin-top: 20px;
                    display: inline-block;
                    padding: 10px 20px;
                }
                p.sub{
                    color: #333;
                    font-size: 15px;
                }
                .faculty-data-content{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .faculty-group{
                        display: flex;
                        flex-direction: row;
                        .data{
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            width: 200px;
                            height: 200px;
                            img{
                                height: 120px;
                                width: 120px;
                                border-radius: 110px;
                                border: 1px solid #333;
                                margin: 10px auto;
                            }
                            span.name{
                                color: #333;
                                font-size: 20px;
                                font-weight: 600;
                                font-size: 14px;
                            }
                            p.job-title{
                                margin: 5px;
                                color: #64001e;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
            .testimonials{
                background-color: #64001e;
                width: 40%;
                .slick-slider{
                    width: 100%;
                    margin: 0 auto;
                    .slick-prev{
                        display: none !important;
                    }
                    .slick-next{
                        display: none !important;
                    }
                    .slick-list{
                        height: 700px;
                        .slick-track{
                            height: 100%;
                            .testimonials-content{
                                text-align: center;
                                height: 700px;
                                img{
                                    width: 100%;
                                    height: 300px;
                                }
                                h2.name{
                                    margin: 0;
                                    padding: 15px 10px 10px 10px;
                                }
                                p.desc{
                                    margin: 0;
                                    font-size: 12px;
                                    font-style: italic;
                                    font-family: 'Times New Roman',sans-serif;
                                }
                                blockquote{
                                    font-size: 20px;
                                    text-align: center;
                                    font-family: 'Times New Roman',sans-serif;
                                    padding: 30px 0 20px;
                                    border: none;
                                    position: relative;
                                    font-style: italic;
                                }
                                blockquote:before{
                                    top: 0;
                                    left: -10px;
                                    font-size: 60px;
                                    content: "“";
                                    position: absolute;
                                }
                                blockquote:after{
                                    bottom: -45px;
                                    right: -15px;
                                    font-size: 60px;
                                    content: "”";
                                    position: absolute;
                                }
                                a{
                                    color: #64001e;
                                    background-color: #fff;
                                    text-decoration: none;
                                    padding: 10px 15px;
                                    font-size: 12px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                    .slick-dots{
                        bottom: 20px;
                        // margin-left: -27vw;
                        li{
                            width: 30px;
                            height: 30px;
                            button:before{
                                font-size: 20px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    .prof{
        border-top: 1px solid #64001e;
        padding: 70px 0 100px 0;
        h1.title{
            padding-bottom: 1vw;
            margin: 0;
            font-size: 35px;
            border-bottom: 2px solid #64001e;
            color: #333;
            letter-spacing: 1px;
        }
        p{
            font-size: 18px;
            color: #333;
            margin-bottom: 60px;
            font-family: "Avenir Medium", Arial, sans-serif;
        }
        .prof-data{
            display: flex;
            flex-direction: row;
            .prof-data-content{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .prof-group{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    .data{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: auto;
                        margin: 1vw 0 1vw 0;
                        img{
                            height: 200px;
                            width: 200px;
                            border-radius: 110px;
                            margin: 10px auto;
                            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
                        }
                        span.name{
                            color: #333;
                            font-size: 20px;
                            font-weight: 500;
                            font-size: 20px;
                        }
                        a{
                            text-decoration: none;
                            span.name{
                                color: #64001e;
                                font-size: 20px;
                                font-weight: 600;
                                font-size: 20px;
                            }
                        }
                        p.job-title{
                            margin: 5px;
                            color: #64001e;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

}



//MOBILE
@media only screen and(max-width: 767px) {
    .faculty-main-content{
    
        .faculty-testimonials{
            background-color: #f1f1f1;
            color: #fff;
            border-top: 1px solid #64001e;
            .content{
                display: flex;
                flex-direction: column;
                height: auto;
                .faculty-data{
                    padding-top: 5vw;
                    width: 100%;
                    margin-left: 0;
                    h1.title{
                        padding-bottom: 1vw;
                        margin-bottom: 2vw;
                        font-size: 6vw;
                    }
                    a{
                        background-color: #64001e;
                        font-size: 3vw;
                        margin-top: 2vw;
                        padding: 2vw 4vw;
                    }
                    p.sub{
                        font-size: 3vw;
                    }
                    .faculty-data-content{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .faculty-group{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            .data{
                                text-align: center;
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                                height: auto;
                                img{
                                    width: 50%;
                                    height: auto;
                                    border-radius: 200px;
                                    margin: 1vw auto;
                                }
                                span.name{
                                    font-size: 3vw;
                                }
                                p.job-title{
                                    margin: 2vw;
                                    font-size: 3vw;
                                }
                            }
                        }
                    }
                }
                .testimonials{
                    background-color: #64001e;
                    width: 100%;
                    .slick-slider{
                        width: 100%;
                        margin: 0 auto;
                        .slick-prev{
                            display: none !important;
                        }
                        .slick-next{
                            display: none !important;
                        }
                        .slick-list{
                            height: 115vw;
                            .slick-track{
                                height: 100%;
                                .testimonials-content{
                                    text-align: center;
                                    height: auto;
                                    img{
                                        width: 100%;
                                        height: auto;
                                    }
                                    h2.name{
                                        margin: 0;
                                        padding: 2vw 1vw 1vw 1vw;
                                        font-size: 5vw;
                                    }
                                    p.desc{
                                        margin: 0;
                                        font-size: 3vw;
                                    }
                                    blockquote{
                                        font-size: 3vw;
                                        text-align: center;
                                        font-family: 'Times New Roman',sans-serif;
                                        padding: 3vw 0 2vw;
                                        border: none;
                                        position: relative;
                                        font-style: italic;
                                    }
                                    blockquote:before{
                                        top: 0;
                                        left: -3.5vw;
                                        font-size: 6vw;
                                    }
                                    blockquote:after{
                                        bottom: -4.5vw;
                                        right: -1vw;
                                        font-size: 6vw;
                                    }
                                    a{
                                        padding: 2vw 3vw;
                                        font-size: 3vw;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                        .slick-dots{
                            bottom: 20px;
                            // margin-left: -27vw;
                            li{
                                width: 30px;
                                height: 30px;
                                button:before{
                                    font-size: 20px;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .prof{
            border-top: 1px solid #64001e;
            padding: 7vw 0 10vw 0;
            h1.title{
                margin: 0;
                font-size: 6vw;
            }
            p{
                font-size: 3vw;
                margin-bottom: 6vw;
            }
            .prof-data{
                display: flex;
                flex-direction: row;
                .prof-data-content{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .prof-group{
                        display: flex;
                        flex-direction: column;
                        .data{
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            img{
                                width: 50%;
                                height: auto;
                                border-radius: 200px;
                                margin: 1vw auto;
                            }
                            a{
                                span.name{
                                    color: #64001e;
                                    font-size: 3.5vw;
                                }
                            }
                            span.name{
                                color: #333;
                                font-size: 3vw;
                            }
                            p.job-title{
                                margin: 1vw;
                                font-size: 3vw;
                            }
                        }
                    }
                }
            }
        }
    
    }
}