.researchareas-main-content {
  background-color: #fff;

  .researchareas {
    background-color: #fff;
    border-top: 1px solid #64001e;
    padding: 40px 0 55px 0;
    h1.title {
      padding-bottom: 1vw;
      margin: 0;
      font-size: 35px;
      border-bottom: 2px solid #64001e;
      color: #333;
      letter-spacing: 1px;
    }
    p {
      font-size: 18px;
      color: #333;
      margin-bottom: 30px;
      font-family: "Avenir Medium", Arial, sans-serif;
    }
    .researchareas-data {
      display: flex;
      flex-direction: column;
      .testimonials{
        margin: 0 0 4vw 0;
        padding: 1vw;
        background-color: #64001e;
        display: flex;
        flex-direction: row;
        .left{
                text-align: center;
                display: flex;
                flex-direction: column;
                width: 35%;
                height: 300px;
                img{
                    height: 200px;
                    width: 200px;
                    border-radius: 110px;
                    object-fit: cover;
                    margin: 10px auto;
                }
                span.name{
                    color: #fff;
                    font-size: 20px;
                    font-weight: 600;
                    font-size: 20px;
                }
                p.job-title{
                    margin: 5px;
                    color: #f1f1f1;
                    font-size: 16px;
                    font-style: italic;
                }
        }
        .right{
            width: 59%;
            blockquote{
                font-size: 20px;
                color: #ffffff;
                text-align: center;
                font-family: "Times New Roman", sans-serif;
                padding: 30px 0 20px;
                border: none;
                position: relative;
                font-style: italic;
                quotes: "\201C" "\201D" "\2018" "\2019";
            }
            blockquote:before{
                top: 0;
                left: -50px;
                font-size: 60px;
                content: open-quote;
                position: absolute;
            }
            blockquote:after{
                bottom: -45px;
                right: -15px;
                font-size: 60px;
                content: close-quote;
                position: absolute;
            }
        }
        
    }
      .researchareas-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .researchareas-data-content {
          display: flex;
          flex-direction: column;
          width: 30%;
          text-align: center;
          margin: 10px;
          a{
            img {
              width: 75%;
              height: auto;
              margin: 0 auto;
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
              border-radius: 100%;
              background-color: #8e1839;
            }
  
            span.title {
              color: #333;
              font-weight: 600;
              font-size: 15px;
              text-align: center;
              margin: 10px;
            }
          }
          
        }
      }
      // a {
      //   background-color: #64001e;
      //   color: #fff;
      //   text-decoration: none;
      //   font-weight: 600;
      //   font-size: 15px;
      //   display: inline-block;
      //   padding: 20px;
      //   width: 20%;
      //   margin: 20px auto 0;
      //   text-align: center;
      // }
    }
  }

}

//MOBILE
@media only screen and(max-width: 767px) {
  .researchareas-main-content {

    .researchareas {
      padding: 4vw 0 4vw 0;
      h1.title {
        padding-bottom: 1vw;
        margin: 0;
        font-size: 6vw;
      }
      p {
        font-size: 3vw;
        margin-bottom: 3vw;
      }
      .researchareas-data {
        display: flex;
        flex-direction: column;
        .testimonials{
          margin: 0 0 4vw 0;
          padding: 1vw;
          background-color: #64001e;
          display: flex;
          flex-direction: column;
          .left{
                  text-align: center;
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  height: auto;
                  img{
                      height: auto;
                      width: 100%;
                      border-radius: 200px;
                      object-fit: cover;
                      margin: 1vw auto;
                  }
                  span.name{
                      color: #fff;
                      font-size: 3vw;
                      font-weight: 600;
                  }
                  p.job-title{
                      margin: 1vw;
                      font-size: 3vw;
                  }
          }
          .right{
              width: 100%;
              blockquote{
                  font-size: 3vw;
                  color: #ffffff;
                  text-align: center;
                  font-family: "Times New Roman", sans-serif;
                  padding: 3vw 0 2vw;
                  border: none;
                  position: relative;
                  font-style: italic;
                  quotes: "\201C" "\201D" "\2018" "\2019";
              }
              blockquote:before{
                  top: 0;
                  left: -50px;
                  font-size: 60px;
                  content: open-quote;
                  position: absolute;
              }
              blockquote:after{
                  bottom: -45px;
                  right: -15px;
                  font-size: 60px;
                  content: close-quote;
                  position: absolute;
              }
          }
          
      }
        .researchareas-group {
          display: flex;
          flex-direction: column;
          width: 100%;
          .researchareas-data-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            margin: 1vw;
            
          }
        }
        // a {
        //   font-size: 3vw;
        //   padding: 2vw 4vw;
        //   width: 30%;
        //   margin: 2vw auto 0;
        // }
      }
    }

  }
}
