.researchlab-main-content {
  background-color: #fff;

  .researchlab {
    background-color: #fff;
    border-top: 1px solid #64001e;
    padding: 35px 0 55px 0;
    h1.title {
      padding-bottom: 1vw;
      margin: 0;
      font-size: 35px;
      border-bottom: 2px solid #64001e;
      color: #333;
      letter-spacing: 1px;
    }
    p {
      font-size: 18px;
      color: #333;
      margin-bottom: 30px;
      font-family: "Avenir Medium", Arial, sans-serif;
    }
    .researchlab-data {
      display: flex;
      flex-direction: column;
      .researchlab-group {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        .researchlab-data-content {
          display: flex;
          flex-direction: column;
          padding: 0 1% 0 1%;
          width: 31%;
          height: 260px;
          text-align: center;

          a{
            text-decoration: none;
            .logo {
              width: 100%;
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
              background-color: #fff;
              margin: 0 auto;
              img {
                max-width: 70%;
                object-fit: contain;
                height: 150px;
                margin: 0 auto;
                padding: 15px;
              }
            }
  
            span.title {
              color: #333;
              font-weight: 600;
              font-size: 15px;
              text-align: center;
              display: block;
              margin: 10px;
            }
          }
        }
      }
      // a {
      //   background-color: #64001e;
      //   color: #fff;
      //   text-decoration: none;
      //   font-weight: 600;
      //   font-size: 15px;
      //   display: inline-block;
      //   padding: 20px;
      //   width: 20%;
      //   margin: 20px auto 0;
      //   text-align: center;
      // }
    }
  }

}

//MOBILE
@media only screen and(max-width: 767px) {
  .researchlab-main-content {

    .researchlab {
      padding: 4vw 0 4vw 0;
      h1.title {
        padding-bottom: 1vw;
        margin: 0;
        font-size: 6vw;
      }
      p {
        font-size: 3vw;
        margin-bottom: 3vw;
      }
      .researchlab-data {
        display: flex;
        flex-direction: column;
        .researchlab-group {
          display: flex;
          flex-direction: column;
          width: 100%;
          .researchlab-data-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            margin: 1vw;
            text-align: center;

            a{
              text-decoration: none;
              width: 100%;
              padding: 0;
              .logo {
                width: 100%;
                margin: 0 auto;
                img {
                  height: auto;
                  margin: 0 auto;
                  padding: 2vw;
                }
              }
  
              span.title {
                font-size: 3vw;
                margin: 1vw;
              }
            }
          }
        }
        a {
          font-size: 3vw;
          padding: 2vw 4vw;
          width: 30%;
          margin: 2vw auto 0;
        }
      }
    }

  }
}
