
.container{
    margin: 0 auto;
    width: 85%;
}
  
body{
    margin:  0;
    padding: 0;
    font-family: 'Avenir Black' , Arial, sans-serif;
    background-color: #f1f1f1;
    width: 100%;
    overflow-x: hidden;
}

.wrapper{
    max-width: 1360px;
    background-color: transparent;
    margin: 0 auto;
}


.row{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 767px){
    .hide-on-med-and-down{
        display: none !important;
    }

    .container{
        margin: 0 auto;
        width: 90%;
    }
}

@media only screen and (min-width: 768px){
    .hide-on-med-and-large{
        display:none !important
    }
}
