.deanswelcome-main-content {
  .deanswelcome-content {
    background-color: #fff;
    padding: 60px 0 60px 0;
    p {
      margin: 0;
    }
    .content-title {
      h1 {
        margin: 0;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    .main-content {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      .left {
        width: 30%;
        img {
          width: 90%;
        }
        .sub {
          p.name {
            color: #64001e;
            font-size: 20px;
            font-weight: 600;
            margin-top: 20px;
          }
          p.job-title {
            color: #333;
            font-size: 15px;
            text-align: center;
          }
        }
      }
      .right {
        width: 70%;
        p {
          font-size: 20px;
          text-align: justify;
          margin-bottom: 18px;
          font-family: "Avenir Medium", Arial, sans-serif;
          font-weight: 400;
        }
        p.regards{
          font-family: "Avenir Light", Arial, sans-serif;
        }
      }
    }
  }
}

//MOBILE
@media only screen and(max-width: 767px) {
  .deanswelcome-main-content {
    .deanswelcome-content {
      background-color: #fff;
      padding: 6vw 0 6vw 0;
      p {
        margin: 0;
      }
      .content-title {
        h1 {
          margin: 0;
          font-size: 6vw;
          font-weight: 600;
        }
      }

      .main-content {
        margin-top: 4vw;
        display: flex;
        flex-direction: column;
        .left {
          width: 100%;
          img {
            width: 100%;
          }
          .sub {
            p.name {
              font-size: 3vw;
              font-weight: 600;
              margin-top: 2vw;
            }
            p.job-title {
              font-size: 3vw;
            }
          }
        }
        .right {
          width: 100%;
          p {
            font-size: 3vw;
            margin-bottom: 2vw;
          }
        }
      }
    }
  }
}
