.alumni-main-content{
    background-color: #fff;

    .alumni-class{
        background-color: #f1f1f1;
        color: #fff;
        padding: 70px 0 100px 0;
        h1.title{
            padding-bottom: 1vw;
            margin: 0;
            font-size: 35px;
            border-bottom: 2px solid #64001e;
            color: #333;
            letter-spacing: 1px;
        }
        p.sub-title{
            font-size: 18px;
            color: #333;
            margin-bottom: 30px;
            font-family: "Avenir Medium", Arial, sans-serif;
        }
        p{
            font-size: 18px;
            color: #333;
            margin-bottom: 60px;
        }
        .alumni-class-data{
            display: flex;
            flex-direction: column;
            .testimonials{
                margin: 0 0 4vw 0;
                padding: 1vw;
                background-color: #64001e;
                display: flex;
                flex-direction: row;
                .left{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        width: 35%;
                        height: 300px;
                        img{
                            height: 200px;
                            width: 200px;
                            border-radius: 110px;
                            object-fit: cover;
                            margin: 10px auto;
                        }
                        span.name{
                            color: #fff;
                            font-size: 20px;
                            font-weight: 600;
                            font-size: 20px;
                        }
                        p.job-title{
                            margin: 5px;
                            color: #f1f1f1;
                            font-size: 16px;
                            font-style: italic;
                        }
                }
                .right{
                    width: 59%;
                    blockquote{
                        font-size: 20px;
                        text-align: center;
                        font-family: "Times New Roman", sans-serif;
                        padding: 30px 0 20px;
                        border: none;
                        position: relative;
                        font-style: italic;
                        quotes: "\201C" "\201D" "\2018" "\2019";
                    }
                    blockquote:before{
                        top: 0;
                        left: -50px;
                        font-size: 60px;
                        content: open-quote;
                        position: absolute;
                    }
                    blockquote:after{
                        bottom: -45px;
                        right: -15px;
                        font-size: 60px;
                        content: close-quote;
                        position: absolute;
                    }
                }
                
            }
            .alumni-class-data-content{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .alumni-class-group{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                    .data{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        width: 33%;
                        height: 300px;
                        img{
                            height: 200px;
                            width: 200px;
                            border-radius: 110px;
                            object-fit: cover;
                            margin: 10px auto;
                        }
                        span.name{
                            color: #333;
                            font-size: 20px;
                            font-weight: 600;
                            font-size: 20px;
                        }
                        p.job-title{
                            margin: 5px;
                            color: #333;
                            font-size: 16px;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }

    .articles{
        margin-top: 50px;
        h1.title{
            padding-bottom: 1vw;
            margin: 0;
            font-size: 35px;
            border-bottom: 2px solid #64001e;
            color: #333;
            letter-spacing: 1px;
        }
        p.sub-title{
            font-size: 18px;
            color: #333;
            margin-bottom: 30px;
            font-family: "Avenir Medium", Arial, sans-serif;
        }
        .pub-new-stories-data{
            display: flex;
            flex-direction: column;
            width: 100%;
            .pub-stories-data-content{
                font-family: "Avenir Black", Arial, sans-serif;
                display: flex;
                flex-direction: row;
                width: 100%;
                border-bottom: 3px solid #64001e;
                margin: 1vw 0 1vw 0;
                padding: 1vw;
                align-items: flex-start;
                justify-content: center;
                img{
                    width: 38%;
                    height: auto;
                    margin: 0 2% 0 0;
                    object-fit: contain;
                }
                .data{
                    width: 50%;
                    h1.title{
                        padding-bottom: 1vw;
                        margin: 0;
                        font-size: 20px;
                        color: #333;
                        letter-spacing: 1px;
                        display: flex;
                        align-items: center;
                        border-bottom: none;
                    }
                    .abstract{
                        font-family: "Avenir Medium", Arial, sans-serif;
                        p{
                            font-size: 18px;
                            margin: 0 0 10px 0   ;
                            color: #333;
                            font-family: 'Avenir Medium' , Arial, sans-serif;
                            span{
                                color: #64001e;
                                font-family: "Avenir Medium", Arial, sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }

}


//MOBILE
@media only screen and(max-width: 767px) {

    .alumni-main-content{
        .alumni-class{
            background-color: #f1f1f1;
            color: #fff;
            padding: 7vw 0 10vw 0;
            h1.title{
                padding-bottom: 1vw;
                margin: 0;
                font-size: 6vw;
            }
            p{
                font-size: 3vw;
                margin-bottom: 6vw;
            }
            .alumni-class-data{
                display: flex;
                flex-direction: column;
                .testimonials{
                    margin: 0 0 4vw 0;
                    padding: 1vw;
                    background-color: #64001e;
                    display: flex;
                    flex-direction: column;
                    .left{
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            img{
                                height: auto;
                                width: 100%;
                                border-radius: unset;
                                object-fit: cover;
                                margin: 1vw auto;
                            }
                            span.name{
                                color: #fff;
                                font-size: 3vw;
                                font-weight: 600;
                            }
                            p.job-title{
                                margin: 1vw;
                                font-size: 3vw;
                            }
                    }
                    .right{
                        width: 100%;
                        blockquote{
                            font-size: 3vw;
                            text-align: center;
                            font-family: "Times New Roman", sans-serif;
                            padding: 3vw 0 2vw;
                            border: none;
                            position: relative;
                            font-style: italic;
                            quotes: "\201C" "\201D" "\2018" "\2019";
                        }
                        blockquote:before{
                            top: 0;
                            left: -50px;
                            font-size: 60px;
                            content: open-quote;
                            position: absolute;
                        }
                        blockquote:after{
                            bottom: -45px;
                            right: -15px;
                            font-size: 60px;
                            content: close-quote;
                            position: absolute;
                        }
                    }
                    
                }
                .alumni-class-data-content{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .alumni-class-group{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        .data{
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            img{
                                width: 100%;
                                height: auto;
                                border-radius: unset;
                                object-fit: cover;
                                margin: 1vw auto;
                            }
                            span.name{
                                font-size: 3vw;
                            }
                            p.job-title{
                                margin: 1vw;
                                font-size: 3vw;
                            }
                        }
                    }
                }
            }
        }
        .articles{
            .pub-new-stories-data{  
                width: 100%;
                .pub-stories-data-content{
                    display: flex;
                    flex-direction: column;
                    img{
                        width: 100%;
                        height: auto;
                        margin: 1vw 0 0 0;
                    }
                    .data{
                        width: 100%;
                        h1.title{
                            font-size: 4vw;
                        }
                        .abstract{
                            p{
                                font-size: 3vw;
                            }
                        }
                    }
                }
            }
        }
        
    }
    
}