.maintenance-container{
    display: flex;
    flex-direction: row;
    div.image-container{
        flex: 1;
        margin-left: -50px;
        // opacity: 0.5
    }
    div.caption{
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-right: 50px;
        h1{
            color: #64001e;
            font-weight: 600;
            font-size: 50px;
            margin: 0;
        }
        p{
            font-size: 20px;
            font-family: 'Avenir Heavy' , Arial, sans-serif;
            margin: 0;

        }
    }
    img{
        width: 100%;
    }
}